<template>
  <div class="conversations-container">
    <v-expansion-panels multiple>
      <conversation
        v-for="conversation in conversations"
        :key="`conversation-${conversation.id}`"
        :conversation="conversation"
        v-on="$listeners"
      />
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  computed: {
    conversations: (vm) => vm.$store.$db().model('messages').getConversations(),
  },
}
</script>
