<template>
  <v-expansion-panel>
    <v-expansion-panel-header>
      <span>
        <v-chip label class="mr-2"> {{ conversation.service }} </v-chip>
        <span v-text="panelHeader" />
      </span>
      <v-spacer />
      <span v-if="hasLastUpdated" class="text-right mr-4">
        Last updated:
        <timeago :datetime="conversation.lastUpdated" :auto-update="60" />
      </span>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-data-table
        class="elevation-1"
        :headers="tableHeaders"
        :items="conversation.messages"
      >
        <template #top>
          <v-toolbar flat color="white" class="mb-5">
            <span v-if="conversation.id">
              The messages below are part of this Conversation. Click on the
              <v-icon small color="primary"> mdi-information-outline </v-icon>
              icon next to each message for more information about it.
            </span>
            <span v-else>
              The messages below are not part of any Conversation.
            </span>
            <v-spacer class="px-3" />
            <v-btn color="primary" @click="createMessage"> New message </v-btn>
          </v-toolbar>
        </template>
        <template #header.direction>
          <v-tooltip top>
            <template #activator="{ on }">
              <v-icon small v-on="on"> mdi-message-arrow-right-outline </v-icon>
            </template>
            Direction
          </v-tooltip>
        </template>
        <template #item.direction="{ item }">
          <v-tooltip top>
            <template #activator="{ on }">
              <v-icon small v-on="on">
                {{ directionIcon(item) }}
              </v-icon>
            </template>
            {{ directionText(item) }}
          </v-tooltip>
        </template>
        <template #item.created="{ item }">
          {{ created(item) }}
        </template>
        <template #item.actions="{ item }">
          <v-btn
            v-if="item.isDraft"
            icon
            class="mr-2"
            @click="editMessage(item)"
          >
            <v-icon> mdi-pencil </v-icon>
          </v-btn>
          <v-btn icon class="mr-2" @click="getDetails(item)">
            <v-icon> mdi-information-outline </v-icon>
          </v-btn>
        </template>
        <template #no-data>
          This Conversation is empty. Please click on the "New message" button.
        </template>
      </v-data-table>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import { parse, format } from 'date-fns'
const messageTableHeaders = [
  { text: 'Direction', align: 'start', value: 'direction' },
  { text: 'ID', value: '$id' },
  { text: 'From', value: 'fromPartyId' },
  { text: 'To', value: 'toPartyId' },
  { text: 'Usecase', value: 'service' },
  { text: 'Action', value: 'action' },
  { text: 'Last evidence', value: 'lastEvidence' },
  { text: 'Date created', value: 'created' },
  { text: '', value: 'actions' },
]

export default {
  name: 'Conversation',
  props: {
    conversation: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    tableHeaders: messageTableHeaders,
  }),
  computed: {
    partyDefaultFrom: (vm) => vm.$config.partyDefaultFrom,
    hasLastUpdated: (vm) => vm.conversation.id && !vm.conversation.isEmpty,
    panelHeader: (vm) =>
      (vm.conversation.id &&
        `${vm.conversation.id} | Parties: ${vm.conversation.parties}`) ||
      'No conversation ID',
  },
  methods: {
    createMessage() {
      this.$nuxt.$emit('create-message', this.conversation.id)
    },
    editMessage(message) {
      this.$nuxt.$emit('edit-message', message.id)
    },
    directionIcon(message) {
      return message.fromPartyId === this.partyDefaultFrom
        ? 'mdi-arrow-up'
        : 'mdi-arrow-down'
    },
    directionText(message) {
      return message.fromPartyId === this.partyDefaultFrom
        ? 'Outgoing'
        : 'Incoming'
    },
    created: (message) =>
      format(parse(message.created), 'DD/MM/YYYY HH:mm:ss Z'),
    getDetails(message) {
      this.$nuxt.$emit('get-message-details', message.$id)
    },
  },
}
</script>
