<template>
  <v-dialog v-if="dialog" v-model="dialog" max-width="1000">
    <v-card :loading="loading">
      <v-card-title> #{{ message.id }} Message details </v-card-title>
      <v-card-text>
        <v-row class="mb-4">
          <v-col class="text-button">
            <p v-if="message.ebmsMessageId" class="mb-2">
              EbMS message id: {{ message.ebmsMessageId }}
            </p>
            <p v-if="message.backendMessageId" class="mb-2">
              Backend message id: {{ message.backendMessageId }}
            </p>
            <p v-if="message.conversationId">
              Conversation: {{ message.conversationId }}
            </p>
          </v-col>
        </v-row>
        <v-expansion-panels v-model="panels" multiple>
          <v-expansion-panel :key="0">
            <v-expansion-panel-header>
              Evidence history
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-simple-table>
                <thead>
                  <tr>
                    <th class="text-left">Type</th>
                    <th class="text-left">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(evidence, index) in message.evidences"
                    :key="index"
                  >
                    <td>{{ evidence.confirmationType }}</td>
                    <td>{{ evidence.received }}</td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel :key="1">
            <v-expansion-panel-header>
              content.xml.file.name ({{ message.xmlName }})
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <code-editor v-if="xmlContent" v-model="xmlContent" />
              <p v-else class="text-body-2">XML not available yet</p>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel :key="2">
            <v-expansion-panel-header>
              content.pdf.file.name ({{ message.pdfName }})
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <embed
                v-if="pdfContent"
                :src="`data:application/pdf;base64,${pdfContent}`"
                height="600"
                type="application/pdf"
                style="width: 100%"
              />
              <p v-else class="text-body-2">PDF not available yet</p>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel :key="3">
            <v-expansion-panel-header>
              message.properties
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-simple-table>
                <thead>
                  <tr>
                    <th class="text-left">Property</th>
                    <th class="text-left">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(property, key, index) in message.properties"
                    :key="index"
                  >
                    <td>{{ key }}</td>
                    <td>{{ property }}</td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <!--          <v-expansion-panel v-if="!message.outgoing">-->
          <!--            <v-expansion-panel-header> Token.pdf </v-expansion-panel-header>-->
          <!--            <v-expansion-panel-content>-->
          <!--              <embed-->
          <!--                class="w-100"-->
          <!--                :src="pdfUrl('Token.pdf')"-->
          <!--                height="400"-->
          <!--                type="application/pdf"-->
          <!--              />-->
          <!--            </v-expansion-panel-content>-->
          <!--          </v-expansion-panel>-->
          <!--          <v-expansion-panel v-if="message.otherFilenames">-->
          <!--            <v-expansion-panel-header> Other files </v-expansion-panel-header>-->
          <!--            <v-expansion-panel-content>-->
          <!--              <v-row>-->
          <!--                <v-col>-->
          <!--                  <p v-for="filename in message.otherFilenames" class="mb-0">-->
          <!--                    <a-->
          <!--                      class="no-decoration"-->
          <!--                      :href="getOtherFileUrl(filename)"-->
          <!--                      target="_blank"-->
          <!--                    >-->
          <!--                      {{ filename }}-->
          <!--                    </a>-->
          <!--                  </p>-->
          <!--                </v-col>-->
          <!--              </v-row>-->
          <!--            </v-expansion-panel-content>-->
          <!--          </v-expansion-panel>-->
        </v-expansion-panels>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    loading: false,
    id: null,
    panels: [0, 3],
  }),
  computed: {
    Message: (vm) => vm.$store.$db().model('messages'),
    message: (vm) => vm.Message.find(vm.id),
    hasErrors: (vm) => vm.message.errors && vm.message.errors.length,
    xmlContent: (vm) => {
      if (!process.client) {
        return null
      }
      return vm.message.xmlContent ? atob(vm.message.xmlContent) : null
    },
    pdfContent: (vm) => (process.client && vm.message.pdfContent) || null,
  },
  watch: {
    dialog() {
      !this.dialog && (this.panels = [0, 3])
    },
  },
  mounted() {
    this.$nuxt.$on('get-message-details', (id) => {
      this.id = id
      // Aggressively require computed message to be a Message model instance
      this.message.loadFileContents()
      this.dialog = true
    })
  },
  // methods: {
  //   getOtherFileUrl(filename) {
  //     return Routing.generate('get-other-file', {
  //       id: this.message.id,
  //       filename,
  //     })
  //   },
  // },
}
</script>
