<template>
  <v-dialog v-if="dialog" v-model="dialog" persistent max-width="1280">
    <v-card flat>
      <v-card-title> New message </v-card-title>
      <v-card-text>
        <v-progress-linear v-if="pendingEdit" indeterminate color="primary" />
        <v-stepper v-model="activeStep" vertical class="elevation-0">
          <v-stepper-step :complete="activeStep > 1" step="1">
            Select and customise use case
          </v-stepper-step>
          <step-details
            :message.sync="message"
            @close="closeDialog"
            @step-completed="onMessageCreation"
          />

          <v-stepper-step :complete="activeStep > 2" step="2">
            Customise Business message content (XML)
          </v-stepper-step>
          <step-xml
            :message="message"
            @step-completed="activeStep = 3"
            @close="closeDialog"
          />

          <v-stepper-step :complete="activeStep > 3" step="3">
            Customise Business message document (PDF)
          </v-stepper-step>
          <step-pdf
            :message="message"
            @step-completed="activeStep = 4"
            @close="closeDialog"
          />

          <v-stepper-step :complete="activeStep > 4" step="4">
            Add Business message attachments (extra files)
          </v-stepper-step>
          <step-extra-files
            @step-completed="activeStep = 5"
            @close="closeDialog"
          />

          <v-stepper-step step="5">Preview</v-stepper-step>
          <step-preview :message="message" @step-completed="dialog = false" />
        </v-stepper>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import Message from '@/data/models/message'
export default {
  data: (vm) => ({
    dialog: false,
    activeStep: 1,
    message: new Message(),
    instanceId: null,
  }),
  computed: {
    pendingEdit: (vm) => vm.$store.state.entities.messages.pendingEdit,
    partyDefaultFrom: (vm) => vm.$config.partyDefaultFrom,
    partyRoles: (vm) => vm.$config.partyRoles,
    partyTypes: (vm) => vm.$config.partyTypes,
    Message: (vm) => vm.$store.$db().model('messages'),
  },
  async mounted() {
    await this.$store.dispatch('newMessage/fetchPredefinedFiles')
    this.$nuxt.$on('create-message', (conversationId) => {
      this.message = new Message({
        conversationId,
        finalRecipient: this.$auth.user.finalRecipient,
        originalSender: this.$auth.user.originalSender,
        fromPartyId: this.partyDefaultFrom,
        fromPartyRole: this.partyRoles.from,
        fromPartyType: this.partyTypes.from,
        toPartyId: this.$auth.user.gateway,
        toPartyRole: this.partyRoles.to,
        toPartyType: this.partyTypes.to,
      })
      this.activeStep = 1
      this.dialog = true
    })
    this.$nuxt.$on('edit-message', (id) => {
      this.message = this.Message.find(id)
      if (!this.message.xmlName) {
        this.activeStep = 2
      } else if (!this.message.pdfName) {
        this.activeStep = 3
      } else {
        this.activeStep = 4
      }
      this.dialog = true
    })
  },
  methods: {
    onMessageCreation(id) {
      this.message = this.Message.find(id)
      this.activeStep = 2
    },
    closeDialog() {
      const discardChanges = () => {
        this.dialog = false
      }
      const message =
        'Any unsaved changes will be lost. Are you sure you want to continue?'
      this.$nuxt.$emit('confirmation-requested', discardChanges, message)
    },
  },
}
</script>
