<template>
  <v-dialog v-model="dialog" max-width="400">
    <template #activator="{ on, attrs }">
      <v-btn color="error" v-bind="attrs" v-on="on">
        Create conversation
      </v-btn>
    </template>
    <v-card>
      <v-card-title>Create conversation</v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field v-model="cid" label="Conversation id" />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="primary" @click="createEmptyConversation">
          Create
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Conversation from '@/data/models/lean/conversation'

export default {
  data: () => ({
    cid: null,
    dialog: false,
  }),
  methods: {
    createEmptyConversation() {
      const Message = this.$store.$db().model('messages')
      const conversation = new Conversation({ id: this.cid })
      Message.commit((state) => state.emptyConversations.push(conversation))
      this.dialog = false
      this.cid = null
    },
  },
}
</script>
