<template>
  <v-snackbar v-model="snack" top :color="snackColor" timeout="4000">
    <message-notification :notification="notification" />
    <template v-slot:action="{ attrs }">
      <v-btn
        color="white"
        icon
        v-bind="attrs"
        absolute
        style="top: 4px; right: 4px"
        @click="snack = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import MessageNotification from '@/data/models/lean/messageNotification'

export default {
  data: () => ({
    snack: false,
    notification: new MessageNotification(),
    queue: [],
    colors: {
      evidence_new: 'blue darken-1',
      message_new: 'pink accent-1',
      conversation_new: 'light-green darken-1',
    },
  }),
  computed: {
    snackColor: (vm) => vm.colors[vm.notification.status],
  },
  watch: {
    snack() {
      if (!this.snack) {
        this.processQueue()
      }
    },
  },
  mounted() {
    this.$nuxt.$on('notify-message-updates', (notifications) => {
      if (notifications.length) {
        this.queue = [...this.queue, ...notifications]
        this.processQueue()
      }
    })
  },
  methods: {
    async processQueue() {
      if (!this.queue.length) {
        return
      }
      this.notification = this.queue.shift()
      await this.$nextTick()
      this.snack = true
    },
  },
}
</script>
