<template>
  <div>
    <h5 class="text-center text-h6" v-text="title" />
    <div class="d-flex mt-4">
      <span>
        <v-icon class="mr-2">mdi-comment-text-outline</v-icon>
        {{ notification.conversationId }}
      </span>
      <v-spacer />
      <span>
        <v-icon class="mr-2">mdi-email-outline</v-icon>
        {{ notification.messageId }}
      </span>
    </div>
    <h6 v-if="notification.evidences.length === 1" class="text-center">
      {{ notification.evidences[0].confirmationType }}
    </h6>
    <ol v-else-if="notification.evidences.length > 1" class="mt-4">
      <li
        v-for="evidence in notification.evidences"
        :key="`evidence-${evidence.confirmationType}`"
      >
        {{ evidence.confirmationType }}
      </li>
    </ol>
  </div>
</template>

<script>
import MessageNotification from '@/data/models/lean/messageNotification'

export default {
  props: {
    notification: {
      type: MessageNotification,
      required: true,
    },
  },
  computed: {
    title: (vm) => {
      if (vm.notification.status === 'evidence_new') {
        return 'New Evidence'
      } else if (vm.notification.status === 'message_new') {
        return 'New Message'
      } else if (vm.notification.status === 'conversation_new') {
        return 'New Conversation'
      }
    },
  },
}
</script>
