<template>
  <v-stepper-content step="4" class="pt-0">
    <v-card>
      <v-card-text class="px-0">
        <v-alert colored-border border="left" elevation="1" type="info">
          If you wish you can add extra files as attachments below
        </v-alert>
        <v-row>
          <v-col>
            <div class="file-input">
              <v-file-input
                v-model="extraFiles"
                label="Upload extra files"
                multiple
              />
            </div>
          </v-col>
          <v-col>
            <div class="file-input">
              <v-select
                v-model="predefinedFile"
                :items="predefinedFileOptions"
                label="Select a predefined file of specific size"
              />
            </div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="error" @click="$emit('close')"> Cancel </v-btn>
        <v-btn text color="primary" @click="submitExtraFiles"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-stepper-content>
</template>

<script>
import Message from '@/data/models/message'
import { fileToBase64 } from '@/utils/base64Helper'

export default {
  props: {
    message: {
      type: Message,
      required: true,
    },
  },
  data: () => ({
    extraFiles: [],
    predefinedFileOptions: [
      { text: '50 MB', value: 50 },
      { text: '100 MB', value: 100 },
      { text: '200 MB', value: 200 },
    ],
    predefinedFile: null,
  }),
  methods: {
    /**
     * @param {File} extraFile
     * @return {Promise<void>}
     */
    async uploadExtraFile(extraFile) {
      const filename = extraFile.name
      try {
        const content = await fileToBase64(extraFile)

        const mutableMessage = new Message(this.message.$toJson())
        await mutableMessage.uploadFile(filename, content, 'other')
        this.Message.update({
          where: this.message.id,
          data: mutableMessage.$toJson(),
        })
      } catch (error) {
        console.log(error)
        this.$snack.toggleWarning(`File upload failed for: ${filename}`)
      }
    },
    async submitExtraFiles() {
      for (const extraFile of this.extraFiles) {
        await this.uploadExtraFile(extraFile)
      }
      if (this.predefinedFile) {
        // TODO: Fix predefined file upload
      }
      this.$emit('step-completed')
    },
  },
}
</script>
