<template>
  <v-stepper-content step="5" class="pt-0">
    <v-card>
      <v-card-text class="px-0">
        <v-expansion-panels multiple>
          <v-expansion-panel>
            <v-expansion-panel-header>
              content.xml.file.name ({{ message.xmlName }})
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <code-editor v-if="xmlContent" v-model="xmlContent" />
              <p v-else class="text-body-2">XML not available</p>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              content.pdf.file.name ({{ message.pdfName }})
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <embed
                v-if="pdfContent"
                :src="`data:application/pdf;base64,${pdfContent}`"
                height="600"
                type="application/pdf"
                style="width: 100%"
              />
              <p v-else class="text-body-2">PDF not available</p>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              message.properties
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-simple-table>
                <thead>
                  <tr>
                    <th class="text-left">Property</th>
                    <th class="text-left">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(property, key, index) in message.properties"
                    :key="index"
                  >
                    <td>{{ key }}</td>
                    <td>{{ property }}</td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="error" @click="$emit('close')"> Cancel </v-btn>
        <v-btn text color="primary" @click="submitFinalMessage"> Submit </v-btn>
      </v-card-actions>
    </v-card>
  </v-stepper-content>
</template>

<script>
import Message from '@/data/models/message'

export default {
  props: {
    message: {
      type: Message,
      required: true,
    },
  },
  computed: {
    xmlContent: (vm) => {
      if (!process.client) {
        return null
      }
      return vm.message.xmlContent ? atob(vm.message.xmlContent) : null
    },
    pdfContent: (vm) => (process.client && vm.message.pdfContent) || null,
  },
  methods: {
    async submitFinalMessage() {
      try {
        await this.message.save()
        this.$snack.toggleSuccess('Message creation completed successfully')
        this.$emit('step-completed')
      } catch (error) {
        this.$snack.toggleError('Message submission failed')
      }
    },
  },
}
</script>
