<template>
  <v-stepper-content step="3" class="pt-0">
    <v-card>
      <v-card-text class="px-0">
        <v-radio-group v-model="pdfOption" row class="mt-4">
          <template v-slot:label>
            <div><strong>PDF </strong>options</div>
          </template>
          <v-radio label="Default PDF" value="default" />
          <v-radio label="User profile PDF" value="user" />
          <v-radio label="Upload PDF" value="upload" />
        </v-radio-group>
        <transition name="fade" mode="out-in">
          <v-alert
            v-if="isUserPdf && !user.pdfs.length"
            key="pdfAlert"
            elevation="1"
            colored-border
            type="warning"
            border="left"
          >
            You have not uploaded a custom PDF to your profile.
            <v-btn nuxt to="/profile" color="teal" text>Go to profile</v-btn>
          </v-alert>
          <v-select
            v-else-if="isUserPdf"
            key="userPdfSelect"
            v-model="selectedUserPdf"
            style="max-width: 320px"
            :items="user.pdfs"
            label="Select PDF uploaded by you"
          />
          <v-row v-else-if="isUploadPdf" key="uploadPdfInput">
            <v-col cols="12" md="6" lg="4">
              <v-file-input
                v-model="pdfFile"
                label="Upload PDF file"
                accept="application/pdf"
              />
            </v-col>
          </v-row>
        </transition>
        <transition name="fade">
          <div v-if="pdfContent" class="mt-5">
            <h3 class="text-button">Content.pdf</h3>
            <embed
              :src="`data:application/pdf;base64,${pdfContent}`"
              height="600"
              type="application/pdf"
              style="width: 100%"
            />
          </div>
        </transition>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="error" @click="$emit('close')"> Cancel </v-btn>
        <v-btn text color="primary" :disabled="!pdfContent" @click="submitPdf">
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-stepper-content>
</template>

<script>
import Message from '@/data/models/message'
import { mapState } from 'vuex'

export default {
  props: {
    message: {
      type: Message,
      required: true,
    },
  },
  data: () => ({
    pdfFile: null,
    pdfOption: null,
    selectedUserPdf: null,
    uploadedPdf: null,
  }),
  computed: {
    ...mapState({
      pdfBase64Strings: (state) => state.newMessage.pdfBase64Strings,
    }),
    isUserPdf: (vm) => vm.pdfOption === 'user',
    isUploadPdf: (vm) => vm.pdfOption === 'upload',
    user: (vm) => vm.$auth.user,
    defaultPdf: (vm) => vm.pdfBase64Strings.default || null,
    userPdf: (vm) => vm.pdfBase64Strings[vm.selectedUserPdf] || null,
    /**
     * @param vm
     * @return {string|null} - base64 string without prefix
     */
    pdfContent: (vm) => {
      const contents = {
        default: vm.defaultPdf,
        user: vm.userPdf,
        upload: vm.uploadedPdf,
      }
      return contents[vm.pdfOption] || null
    },
  },
  watch: {
    pdfFile() {
      if (!this.pdfFile) {
        this.uploadedPdf = null
        return
      }
      const reader = new FileReader()
      reader.onload = () => {
        this.uploadedPdf = reader.result.replace(
          'data:application/pdf;base64,',
          ''
        )
      }
      reader.readAsDataURL(this.pdfFile)
    },
  },
  methods: {
    async submitPdf() {
      try {
        if (!this.pdfContent) {
          this.$snack.toggleError('PDF content is empty. Please retry!')
          return
        }
        const mutableMessage = new Message(this.message.$toJson())
        await mutableMessage.uploadFile('content.pdf', this.pdfContent, 'pdf')
        this.Message.update({
          where: this.message.id,
          data: mutableMessage.$toJson(),
        })
        this.$snack.toggleSuccess('Message PDF uploaded successfully')
        this.$emit('step-completed')
      } catch (error) {
        this.$snack.toggleError('PDF upload failed')
      }
    },
  },
}
</script>
