<template>
  <v-stepper-content step="2" class="pt-0">
    <v-card>
      <v-card-text class="px-0">
        <v-radio-group v-model="xmlOption" row class="mt-4">
          <template #label>
            <div>Choose <strong>XML</strong></div>
          </template>
          <v-radio label="Default XML" value="default" />
          <v-radio label="From User Profile" value="user" />
          <v-radio label="Upload XML" value="upload" />
        </v-radio-group>
        <transition name="fade" mode="out-in">
          <v-alert
            v-if="isUserXml && (!user.xmls || !user.xmls.length)"
            key="xmlAlert"
            elevation="1"
            colored-border
            type="warning"
            border="left"
          >
            You have not uploaded a custom XML to your profile.
          </v-alert>
          <v-select
            v-else-if="isUserXml"
            key="userXmlSelect"
            v-model="selectedUserXml"
            style="max-width: 320px"
            :items="user.xmls"
            label="Select XML from profile"
          />
          <div v-else-if="isUploadXml" key="uploadXmlInput" class="file-input">
            <v-file-input
              v-model="xmlFile"
              label="Upload XML file"
              accept="text/xml"
            />
          </div>
        </transition>
        <transition name="fade">
          <template v-if="!!xmlContent">
            <div class="content-xml-container mt-5">
              <h3 class="text-button">Content.xml</h3>
              <code-editor v-model="xmlContent" />
            </div>
            <v-row>
              <v-col>
                <v-checkbox
                  v-model="xmlValidationEnabled"
                  label="Validate XML"
                  hint="If enabled, your XML will be checked against official e-CODEX XSDs for the selected use case and action"
                  persistent-hint
                />
              </v-col>
            </v-row>
          </template>
        </transition>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="error" @click="$emit('close')"> Cancel </v-btn>
        <v-btn text color="primary" :disabled="!xmlContent" @click="submitXml">
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-stepper-content>
</template>

<script>
import Message from '@/data/models/message'
import { mapState } from 'vuex'

export default {
  props: {
    message: {
      type: Message,
      required: true,
    },
  },
  data: () => ({
    xmlValidationEnabled: false,
    xmlFile: null,
    xmlOption: null,
    selectedUserXml: null,
    uploadedXmlContent: null,
  }),
  computed: {
    ...mapState({
      xmlBase64Strings: (state) => state.newMessage.xmlBase64Strings,
    }),
    Message: (vm) => vm.$store.$db().model('messages'),
    xmlContents: (vm) => {
      if (process.client) {
        const xmls = {}
        for (const filename in vm.xmlBase64Strings) {
          Object.prototype.hasOwnProperty.call(vm.xmlBase64Strings, filename) &&
            (xmls[filename] = atob(vm.xmlBase64Strings[filename]))
        }
        return xmls
      }
      return {}
    },
    isUserXml: (vm) => vm.xmlOption === 'user',
    isUploadXml: (vm) => vm.xmlOption === 'upload',
    user: (vm) => vm.$auth.user,
    defaultXml: (vm) => vm.xmlContents.default || null,
    userXml: (vm) => vm.xmlContents[vm.selectedUserXml] || null,
    /**
     * @param vm
     * @return {string|null} - XML text content
     */
    xmlContent: (vm) => {
      const contentProviders = {
        default: vm.defaultXml,
        user: vm.userXml,
        upload: vm.uploadedXmlContent,
      }
      return contentProviders[vm.xmlOption] || null
    },
  },
  watch: {
    xmlFile() {
      if (!this.xmlFile) {
        this.uploadedXmlContent = null
        return
      }
      const reader = new FileReader()
      reader.onload = () => {
        this.uploadedXmlContent = reader.result.replace(
          'data:text/xml;base64,',
          ''
        )
      }
      reader.readAsText(this.xmlFile)
    },
  },
  methods: {
    async submitXml() {
      try {
        if (!this.xmlContent) {
          this.$snack.toggleError('Xml content is empty')
          return
        }
        const mutableMessage = new Message(this.message.$toJson())
        if (this.xmlValidationEnabled) {
          this.$api.messages.validateXml(this.message.$id, this.xmlContent)
        }
        // Base64 encoded XML (without data:text/xml;base64 prefix)
        const base64Xml = btoa(this.xmlContent)
        await mutableMessage.uploadFile('content.xml', base64Xml, 'xml')
        this.Message.update({
          where: this.message.id,
          data: mutableMessage.$toJson(),
        })
        this.$snack.toggleSuccess('Message XML uploaded successfully')
        this.$emit('step-completed')
      } catch (error) {
        this.$snack.toggleError('XML upload failed')
      }
    },
  },
}
</script>

<style lang="scss">
.content-xml-container {
  .ctp-code-editor {
    max-height: 280px;
    overflow-y: auto;
  }
}
</style>
