<template>
  <v-stepper-content step="1" class="pt-0">
    <v-card flat>
      <v-card-text class="px-0">
        <v-form ref="form" v-model="isValid" lazy-validation>
          <section class="new-message__service">
            <h2 class="text-h6">Service</h2>
            <v-row>
              <v-col>
                <v-select
                  v-model="message.service"
                  return-object
                  :items="services"
                  item-text="name"
                  item-value="name"
                  label="Service"
                  :rules="[rules.required]"
                />
              </v-col>
              <v-col>
                <v-select
                  v-model="message.action"
                  :disabled="!message.service"
                  return-object
                  :items="actions"
                  item-text="name"
                  item-value="_id"
                  label="Action"
                  :rules="[rules.required]"
                />
              </v-col>
            </v-row>
          </section>
          <section class="new-message__message-data py-3">
            <h2 class="text-h6 mb-3">Message Data (content.xml)</h2>
            <v-row v-if="!message.service || !message.action">
              <v-col>
                <v-banner
                  icon-color="red"
                  class="red--text"
                  icon="mdi-email-alert-outline"
                  single-line
                  sticky
                >
                  Please select the message Service and Action first
                </v-banner>
              </v-col>
            </v-row>
            <v-row v-else-if="message.service.test">
              <v-col>
                <v-alert colored-border border="left" type="info" elevation="1">
                  Not applicable to GW-TEST and Connector-TEST messages
                </v-alert>
              </v-col>
            </v-row>
            <template v-else>
              <v-row>
                <v-col>
                  <h4>SBDH Header</h4>
                  <v-row>
                    <v-col>
                      <v-text-field
                        :value="senderId"
                        label="Sender Identifier"
                        :rules="[rules.required]"
                        @input="$emit('update:sender-id', $event)"
                      />
                    </v-col>
                    <v-col>
                      <v-text-field
                        :value="senderAuth"
                        label="Sender Authority"
                        :rules="[rules.required]"
                        @input="$emit('update:sender-auth', $event)"
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-text-field
                        :value="receiverId"
                        label="Receiver Identifier"
                        :rules="[rules.required]"
                        @input="$emit('update:receiver-id', $event)"
                      />
                    </v-col>
                    <v-col>
                      <v-text-field
                        :value="receiverAuth"
                        label="Receiver Authority"
                        :rules="[rules.required]"
                        @input="$emit('update:receiver-auth', $event)"
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="6">
                      <v-text-field
                        :value="instanceId"
                        label="Instance Identifier"
                        :rules="[rules.required]"
                        @input="$emit('update:instance-id', $event)"
                      />
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-row>
                <v-col v-if="message.action.isReply" cols="6">
                  <h4>Other Variables</h4>
                  <v-text-field
                    v-model="message.caseId"
                    label="Case ID"
                    :rules="[rules.required]"
                  >
                    <template #append>
                      <v-tooltip top>
                        <template #activator="{ on }">
                          <v-icon small v-on="on">
                            mdi-information-outline
                          </v-icon>
                        </template>
                        jus:IdentificationCaseIdentification/jus:NumberID
                      </v-tooltip>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
            </template>
          </section>
          <section class="new-message__message-metadata">
            <h2 class="text-h6">Message Metadata (message.properties)</h2>
            <v-row v-if="!message.service || !message.action">
              <v-col>
                <v-banner
                  icon-color="red"
                  class="red--text"
                  icon="mdi-email-alert-outline"
                  single-line
                  sticky
                >
                  Please select the message Service and Action first
                </v-banner>
              </v-col>
            </v-row>
            <v-row v-else>
              <v-col>
                <v-text-field
                  v-model="message.finalRecipient"
                  label="Final recipient"
                  :rules="[rules.required]"
                >
                  <template #append>
                    <v-tooltip top>
                      <template #activator="{ on }">
                        <v-icon small v-on="on">
                          mdi-information-outline
                        </v-icon>
                      </template>
                      final.recipient in message.properties
                    </v-tooltip>
                  </template>
                </v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  v-model="message.originalSender"
                  label="Original sender"
                  :rules="[rules.required]"
                >
                  <template #append>
                    <v-tooltip top>
                      <template #activator="{ on }">
                        <v-icon small v-on="on">
                          mdi-information-outline
                        </v-icon>
                      </template>
                      original.sender in message.properties
                    </v-tooltip>
                  </template>
                </v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  v-model="message.conversationId"
                  label="Conversation ID"
                  :rules="[rules.required]"
                >
                  <template #append>
                    <v-tooltip top>
                      <template #activator="{ on }">
                        <v-icon small v-on="on">
                          mdi-information-outline
                        </v-icon>
                      </template>
                      Randomly assigned by the CTP if not filled
                    </v-tooltip>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
          </section>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="error" @click="$emit('close')"> Cancel </v-btn>
        <v-btn text color="primary" @click="createBareMessage">
          Continue
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-stepper-content>
</template>

<script>
import Message from '@/data/models/message'
import rules from '@/constants/validationRules'

export default {
  props: {
    message: {
      type: Message,
      required: true,
    },
  },
  data: (vm) => ({
    isValid: true,
    senderId: vm.$auth.user.senderId,
    senderAuth: vm.$auth.user.senderAuth,
    receiverId: vm.$auth.user.receiverId,
    receiverAuth: vm.$auth.user.receiverAuth,
    instanceId: null,
    service: null,
  }),
  computed: {
    rules: () => rules,
    services: (vm) => {
      const message = vm.$store
        .$db()
        .model('messages')
        .query()
        .where('conversationId', vm.message.conversationId)
        .first()

      const Service = vm.$store.$db().model('services')
      if (!message) {
        return Service.all()
      }
      return [Service.query().where('name', vm.message.service)]
    },
    actions: (vm) => {
      if (!vm.message.service) {
        return []
      }
      return vm.message.service.actions
    },
  },
  methods: {
    async createBareMessage() {
      if (!this.$refs.fileForm.validate()) {
        this.$snack.toggleValidationSnack()
        return
      }

      try {
        const id = await this.message.post()
        this.$snack.toggleSuccess('Message created successfully!')
        this.$emit('step-completed', id)
      } catch (error) {
        this.$snack.toggleError('Message creation failed')
      }
    },
  },
}
</script>
