<template>
  <v-card>
    <v-card-text>
      <chart-bar-base :chart-data="cdata" />
    </v-card-text>
  </v-card>
</template>

<script>
import ChartBarBase from './ChartBarBase'
export default {
  components: { ChartBarBase },
  props: ['cdata'],
  data() {
    return {
      chartData: null,
    }
  },
  mounted() {
    this.fillData()
  },
  methods: {
    fillData() {
      this.chartData = this.cdata
    },
  },
}
</script>
