<template>
  <v-card title="Line">
    <v-radio-group v-model="radio">
      <v-radio
        v-for="(item, index) in btn"
        :key="index"
        :label="item.label"
        :value="item.value"
        @change="updateChart"
      >
        {{ item.label }}
      </v-radio>
    </v-radio-group>

    <v-card img-bottom>
      <chart-line-base :chart-data="chartData" />
    </v-card>
  </v-card>
</template>

<script>
import ChartLineBase from './ChartLineBase.js'

export default {
  components: { ChartLineBase },
  props: ['cdata'],
  data() {
    return {
      btn: [
        { label: 'Day', value: 'day' },
        { label: 'Month', value: 'month' },
        { label: 'Year', value: 'year' },
      ],
      chartData: null,
      radio: 'day',
    }
  },
  mounted() {
    this.fillData()
  },
  methods: {
    fillData() {
      this.chartData = {
        labels: this.cdata.labels[this.radio],
        datasets: [
          {
            borderColor: '#81894e',
            data: this.cdata.data[this.radio],
            label: 'Messages',
          },
        ],
      }
    },
    updateChart() {
      this.$nextTick(() => {
        this.fillData()
      })
    },
  },
}
</script>
