<template>
  <v-row justify="center" align="center">
    <v-col cols="12" md="8" xl="6">
      <v-card>
        <v-card-title> Uptime </v-card-title>
        <v-card-subtitle class="text-left">
          How long has CTP been up and running
        </v-card-subtitle>
        <v-card-text>
          <v-sparkline
            :value="value"
            :gradient="['red', 'green']"
            :smooth="1"
            :padding="2"
            :line-width="5"
            stroke-linecap="round"
            gradient-direction="bottom"
            :fill="false"
            type="bar"
            :auto-line-width="false"
            :show-labels="false"
            auto-draw
          />
        </v-card-text>
      </v-card>
      <v-card class="mt-4">
        <v-card-title> By Gateway </v-card-title>
        <v-card-subtitle class="text-left">
          Messages groupped by sender's gateway
        </v-card-subtitle>
        <v-card-text>
          <v-sparkline
            :labels="gatewayLabels"
            :value="gatewayValues"
            color="white"
            line-width="5"
            padding="10"
            type="bar"
          />
        </v-card-text>
      </v-card>
      <v-card class="mt-4">
        <v-card-title> By Action </v-card-title>
        <v-card-subtitle class="text-left">
          Messages groupped by message action
        </v-card-subtitle>
        <v-card-text>
          <v-sparkline
            :labels="actionLabels"
            :value="actionValues"
            color="white"
            line-width="5"
            padding="10"
            type="bar"
          />
        </v-card-text>
      </v-card>
      <v-card class="mt-4">
        <v-card-title> By Date </v-card-title>
        <v-card-subtitle class="text-left">
          Messages groupped by creation date
        </v-card-subtitle>
        <v-card-text>
          <v-sparkline
            :labels="createdLabels"
            :value="createdValues"
            color="black"
            line-width="2"
            padding="16"
            :smooth="3"
          />
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Message from '~/data/models/message'

export default {
  async fetch() {
    const Message = this.$store.$db().model('messages')
    await Message.fetch()

    // this.actionValues = Object.values(action).map((x) => x.length)
    // this.actionLabels = Object.keys(action).map((a, i) => {
    //   const x = a + ' (' + this.actionValues[i] + ')'
    //   return x
    // })
    //
    // const created = mes.reduce((r, a) => {
    //   const x = a.created.split('T')[0].split('-')
    //   const y = x[2] + '/' + x[1]
    //   r[y] = r[y] || []
    //   r[y].push(a)
    //   return r
    // }, Object.create(null))
    //
    // this.createdLabels = Object.keys(created)
    // this.createdValues = Object.values(created).map((x) => x.length)
    // })
  },
  data: () => ({
    createdLabels: ['01/01', '02/01', '03/01', '04/01', '05/01'],
    createdValues: [4, 1, 0, 2, 6],
    value: [
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      1,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      1,
      1,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      1,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      1,
      1,
      3,
      3,
      3,
      3,
    ],
  }),
  computed: {
    Message: (vm) => vm.$store.$db().model('messages'),
    messages: (vm) => Message.all(),
    actionLabels: (vm) => [
      ...new Set(vm.messages.map((message) => message.action)),
    ],
    actionValues: (vm) =>
      vm.actionLabels.map((action) => vm.countMessagesByAction(action)),
    gatewayLabels: (vm) => [
      ...new Set(vm.messages.map((message) => message.fromPartyId)),
    ],
    gatewayValues: (vm) =>
      vm.gatewayLabels.map((gateway) => vm.countMessagesByGateway(gateway)),
  },
  methods: {
    countMessagesByGateway(gateway) {
      return this.$store
        .$db()
        .model('messages')
        .query()
        .where('fromPartyId', gateway)
        .count()
    },
    countMessagesByAction(action) {
      return this.$store
        .$db()
        .model('messages')
        .query()
        .where('action', action)
        .count()
    },
  },
}
</script>
