<template>
  <v-card flat class="mt-4">
    <v-card-title> Manage services </v-card-title>
    <v-card-text>
      <create-action-dialog />
      <create-service-dialog />
      <v-row class="mt-4">
        <v-col
          v-for="service in services"
          :key="`service-${service.id}`"
          cols="6"
        >
          <v-card>
            <v-card-title>
              <div v-text="service.name" />
              <v-spacer />
              <div class="flex-grow-0 flex-shrink-1 mr-5">
                <v-icon
                  class="mr-2"
                  title="Delete service"
                  @click.stop="deleteService(service)"
                >
                  mdi-trash-can-outline
                </v-icon>
                <v-icon
                  class="mr-2"
                  title="Add action"
                  @click.stop="addAction(service)"
                >
                  mdi-shape-square-rounded-plus
                </v-icon>
                <v-icon title="Edit service" @click.stop="editService(service)">
                  mdi-pencil
                </v-icon>
              </div>
            </v-card-title>
            <v-card-text>
              <action-table
                :actions="service.actions"
                :service-id="service.$id"
              />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  computed: {
    Service: (vm) => vm.$store.$db().model('services'),
    services: (vm) => vm.Service.all(),
  },
  methods: {
    deleteService(service) {
      const doDelete = async () => {
        try {
          await this.Service.deleteById(service.id)
          this.$snack.toggleSuccess('Service deleted successfully')
        } catch (error) {
          this.$snack.toggleError('Service deletion failed')
        }
      }

      this.$nuxt.$emit('confirmation-requested', doDelete)
    },
    addAction(service) {
      this.$nuxt.$emit('add-action', service.$id)
    },
    editService(service) {
      this.$nuxt.$emit('edit-service', service.$id)
    },
  },
}
</script>
