<template>
  <v-dialog v-if="dialog" v-model="dialog" max-width="1000">
    <v-card>
      <v-card-title class="blue darken-3 white--text" v-text="title" />
      <v-card-text>
        <v-container fluid>
          <v-row>
            <v-col>
              <v-text-field v-model="user.username" label="Username" />
            </v-col>
            <v-col>
              <v-text-field v-model="user.gateway" label="Gateway" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="password.first"
                label="New password"
                :error-messages="passwordErrors"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="password.second"
                label="Repeat password"
                :error-messages="passwordErrors"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="user.finalRecipient"
                label="Final recipient"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="user.originalSender"
                label="Original sender"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field v-model="user.email" label="Email" />
            </v-col>
            <v-col>
              <v-text-field
                v-model="user.contactPerson"
                label="Contact person"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field v-model="user.senderId" label="SBDH Sender Id" />
            </v-col>
            <v-col>
              <v-text-field
                v-model="user.senderAuth"
                label="SBDH Sender Auth"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="user.receiverId"
                label="SBDH Receiver Id"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="user.receiverAuth"
                label="SBDH Receiver Auth"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field v-model="user.countryCode" label="Country Code" />
            </v-col>
            <v-col>
              <v-select v-model="role" :items="roles" label="Role" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="user.gatewayVersion"
                label="Gateway version"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model="user.connectorVersion"
                label="Connector version"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text class="mr-3" @click="dialog = false">Cancel</v-btn>
        <v-btn text :disabled="!!passwordErrors.length" @click="submitData">
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import User from '@/data/models/user'

const emptyPassword = () => ({
  first: null,
  second: null,
})

const roles = [
  { text: 'User', value: 'ROLE_USER' },
  { text: 'Admin', value: 'ROLE_ADMIN' },
  { text: 'Tester', value: 'ROLE_TESTER' },
]
export default {
  data: () => ({
    dialog: false,
    mode: null,
    roles,
    user: null,
    password: emptyPassword(),
    passwordErrors: [],
  }),
  computed: {
    passwordsMatch: (vm) =>
      !vm.password.first ||
      !vm.password.second ||
      vm.password.first === vm.password.second,
    title: (vm) => vm.titles[vm.mode],
    titles: (vm) => ({
      new: 'Create user',
      edit: `Edit user #${vm.user.username}`,
    }),
    role: {
      get() {
        return this.user.roles?.[0]
      },
      set(newValue) {
        this.user.roles = [newValue]
      },
    },
  },
  watch: {
    passwordsMatch(newValue) {
      this.passwordErrors = newValue ? [] : ['Passwords do not match']
    },
  },
  mounted() {
    this.$nuxt.$on('create-user', () => {
      this.mode = 'new'
      this.user = new User()

      this.$nextTick(() => {
        this.dialog = true
      })
    })
    this.$nuxt.$on('edit-user', (id) => {
      this.mode = 'edit'
      this.user = this.$store.$db().model('users').find(id)

      this.$nextTick(() => {
        this.dialog = true
      })
    })
  },
  methods: {
    async submitData() {
      if (this.mode === 'new') {
        await this.user.post(this.password.first)
        this.closeSuccessfully('User created successfully!')
      }
      if (this.mode === 'edit') {
        await this.user.update()
        this.closeSuccessfully('User edited successfully!')
      }
    },
    closeSuccessfully(message) {
      this.dialog = false
      this.$store.dispatch('toggleFeedbackSnack', { message })
    },
  },
}
</script>
