<template>
  <v-dialog v-if="dialog" v-model="dialog" width="600px">
    <v-card>
      <v-card-title> Change password </v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field
              v-model="currentPassword"
              :append-icon="showCurrentPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showCurrentPassword ? 'text' : 'password'"
              label="Current password"
              @click:append="showCurrentPassword = !showCurrentPassword"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="password.first"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :error-messages="passwordErrors"
              :type="showPassword ? 'text' : 'password'"
              label="New password"
              @click:append="showPassword = !showPassword"
            />
          </v-col>
          <v-col>
            <v-text-field
              v-model="password.second"
              :append-icon="showPasswordRepeat ? 'mdi-eye' : 'mdi-eye-off'"
              :error-messages="passwordErrors"
              :type="showPasswordRepeat ? 'text' : 'password'"
              label="Repeat password"
              @click:append="showPasswordRepeat = !showPasswordRepeat"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn class="mr-3" text @click="dialog = false">Cancel</v-btn>
        <v-btn text :disabled="!passwordsMatch" @click="submitData">
          Submit
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="hasSuccessSnack" top color="success"> </v-snackbar>
  </v-dialog>
</template>

<script>
const emptyPassword = () => ({
  first: null,
  second: null,
})

export default {
  data: () => ({
    dialog: false,
    id: null,
    currentPassword: null,
    showCurrentPassword: false,
    password: emptyPassword(),
    showPassword: false,
    showPasswordRepeat: false,
    passwordErrors: [],
    hasSuccessSnack: false,
  }),
  computed: {
    passwordsMatch: (vm) =>
      !vm.password.first ||
      !vm.password.second ||
      vm.password.first === vm.password.second,
  },
  watch: {
    passwordsMatch(newValue) {
      this.passwordErrors = newValue ? [] : ['Passwords do not match']
    },
  },
  mounted() {
    this.$nuxt.$on('change-password', (id) => {
      this.id = id
      this.$nextTick(() => {
        this.dialog = true
      })
    })
  },
  methods: {
    async submitData() {
      const passwords = {
        currentPassword: this.currentPassword,
        newPassword: this.password.first,
      }

      const user = this.$store.$db().model('users').find(this.id)
      await user.updatePassword(passwords)
      this.$store.dispatch('toggleFeedbackSnack', {
        message: 'Password edited successfully!',
      })
      this.dialog = false
    },
  },
}
</script>
