<template>
  <v-dialog v-if="dialog" v-model="dialog" width="600px">
    <v-card>
      <v-card-title v-text="dialogTitle" />
      <v-card-text>
        <v-row>
          <v-col v-for="role in roleOptions" :key="role.text">
            <v-checkbox
              v-model="roles"
              :label="role.text"
              :value="role.value"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="submitData">Submit</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
const availableRoles = [
  'ROLE_ADMIN',
  'ROLE_TESTER',
  'ROLE_E_CODEX_PLUS',
  'ROLE_USER',
]

export default {
  data: () => ({
    dialog: false,
    availableRoles,
    roles: [],
    id: null,
  }),
  computed: {
    dialogTitle: (vm) => `Manage roles for user ${vm.user.username}`,
    roleOptions: (vm) =>
      vm.availableRoles.map((role) => ({
        text: vm.roleName(role),
        value: role,
      })),
    user: (vm) => vm.$store.$db().model('users').find(vm.id),
  },
  watch: {
    user() {
      this.roles = [...this.user.roles]
    },
  },
  mounted() {
    this.$nuxt.$on('edit-user-roles', (id) => {
      this.id = id
      this.$nextTick(() => {
        this.dialog = true
      })
    })
  },
  methods: {
    async submitData() {
      const user = this.$store.$db().model('users').find(this.id)
      await user.updateRoles(this.roles)
      this.dialog = false
      this.$snack.toggleSuccess('User roles updated successfully!')
    },
    roleName: (role) => role.replace('ROLE_', ''),
  },
}
</script>
