<template>
  <v-card flat>
    <v-card-title class="primary--text">Contact details</v-card-title>
    <v-card-subtitle> Contact information for this profile </v-card-subtitle>
    <v-card-text>
      <v-row>
        <v-col>
          <v-text-field v-model="user.contactPerson" label="Contact person" />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="user.email" label="Contact email" />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="user.countryCode" label="Country code" />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import User from '@/data/models/user'

export default {
  props: {
    user: {
      type: User,
      required: true,
    },
  },
}
</script>
