<template>
  <v-card flat class="d-flex flex-column" style="height: 100%">
    <v-card-title class="indigo--text text--darken-1"> PDF Files </v-card-title>
    <v-card-text>
      <v-alert
        colored-border
        elevation="1"
        :type="alertColor"
        border="left"
        class="align-self-center"
      >
        {{ alertBody }}
      </v-alert>
      <div class="file-input">
        <v-form ref="fileForm" v-model="fileFormValid">
          <v-file-input
            v-model="pdfFiles"
            label="Upload new pdf files"
            accept="application/pdf"
            multiple
            chips
            clearable
            :rules="[validatePdfFiles]"
          />
        </v-form>
      </div>
      <v-row no-gutters>
        <v-col md="4">
          <v-list v-if="!!userPdfs.length">
            <v-subheader>SAVED PDF FILES</v-subheader>
            <template v-for="(pdf, index) in userPdfs">
              <v-list-item :key="pdf">
                <v-list-item-icon>
                  <v-btn icon color="error" @click="removeFile(pdf)">
                    <v-icon> mdi-trash-can-outline </v-icon>
                  </v-btn>
                </v-list-item-icon>
                <v-list-item-title>
                  <a class="text-decoration-none" @click="downloadFile(pdf)">
                    {{ pdf }}
                  </a>
                </v-list-item-title>
              </v-list-item>
              <v-divider v-if="index !== userPdfs.length - 1" :key="index" />
            </template>
          </v-list>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions class="mt-auto">
      <v-spacer />
      <v-btn color="success" text :loading="loading" @click="savePdfs">
        Save PDF files
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { fileToBase64 } from '@/utils/base64Helper'

export default {
  data: () => ({
    fileFormValid: true,
    userPdfs: [],
    pdfFiles: [],
    loading: false,
  }),
  computed: {
    alertBody: (vm) =>
      !vm.userPdfs.length
        ? 'Upload an PDF file so that you can reuse it when sending messages'
        : `Upload a new PDF file by clicking on the input below. Click on "Save" button to persist changes.`,
    alertColor: (vm) => (!vm.userPdfs.length ? 'warning' : 'info'),
  },
  mounted() {
    this.userPdfs = [...(this.$auth.user?.pdfs || [])]
  },
  methods: {
    /**
     * @param {string} filename
     */
    downloadFile(filename) {
      this.$downloader.download(`/api/users/files/pdfs/${filename}`, filename)
    },
    validatePdfFiles() {
      const uploadedFilenames = this.pdfFiles.map((file) => file.name)
      return (
        this.userPdfs.every(
          (userPdfFilename) => !uploadedFilenames.includes(userPdfFilename)
        ) ||
        'At least one filename already exists. Please remove and upload again with different filename'
      )
    },
    /**
     * @param {string} filename
     */
    removeFile(filename) {
      this.userPdfs = this.userPdfs.filter(
        (userFilename) => userFilename !== filename
      )
    },
    /**
     * @param {File} pdfFile
     * @return {Promise<void>}
     */
    async uploadPdf(pdfFile) {
      const filename = pdfFile.name
      try {
        const content = await fileToBase64(pdfFile)
        await this.$api.users.uploadFile(content, filename, 'pdfs')
        this.userPdfs.push(filename)
      } catch (error) {
        console.log(error)
        this.$snack.toggleWarning(`File upload failed for: ${filename}`)
      }
    },
    async submitFilenames() {
      try {
        await this.$api.users.submitFilenames(this.userPdfs, 'pdfs')
        this.$snack.toggleSuccess('User PDF files saved successfully')
      } catch (error) {
        console.log(error)
        this.$snack.toggleError('Saving user PDF files failed')
      }
    },
    async savePdfs() {
      if (!this.$refs.fileForm.validate()) {
        this.$snack.toggleError('Please fix issues on PDF files')
        return
      }
      this.loading = true
      for (const pdfFile of this.pdfFiles) {
        await this.uploadPdf(pdfFile)
      }
      await this.submitFilenames()
      this.$auth.setUser({ ...this.$auth.user, pdfs: this.userPdfs })
      this.loading = false
    },
  },
}
</script>

<style lang="scss">
.v-alert__wrapper {
  .v-icon.v-alert__icon {
    margin-top: 5px;
  }
}
</style>
