<template>
  <v-card flat>
    <v-card-title class="text--body-1">
      <v-checkbox
        v-model="userUsecase.active"
        :label="getServiceNameById(userUsecase.service_id)"
      />
    </v-card-title>
    <v-card-text>
      <v-text-field
        v-if="userUsecase.active"
        v-model="userUsecase.version"
        label="Version"
      />
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    userUsecase: {
      type: Object,
      required: true,
    },
  },
  computed: {
    Service: (vm) => vm.$store.$db().model('services'),
  },
  methods: {
    getServiceNameById(id) {
      return this.Service.find(id)?.name
    },
  },
}
</script>
