<template>
  <v-card flat>
    <v-card-title class="teal--text"> SBDH variables </v-card-title>
    <v-card-subtitle>
      Variables that appear in the
      <a
        target="_blank"
        href="https://www.gs1.org/standards/edi/standard-business-document-header-sbdh"
        class="text-decoration-none"
      >
        SBDH header
      </a>
      of certain outgoing messages (where applicable).
    </v-card-subtitle>
    <v-card-text>
      <v-row>
        <v-col>
          <v-text-field v-model="user.senderAuth" label="Sender Authority" />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="user.senderId" label="Sender Identifier" />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field
            v-model="user.receiverAuth"
            label="Receiver Authority"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="user.receiverId" label="Receiver Identifier" />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import User from '@/data/models/user'

export default {
  props: {
    user: {
      type: User,
      required: true,
    },
  },
}
</script>
