<template>
  <v-card flat>
    <v-card-title class="red--text text--accent-2">
      Environment variables
    </v-card-title>
    <v-card-subtitle>
      Environment versions, usecases and files
    </v-card-subtitle>
    <v-card-text>
      <v-row>
        <v-col>
          <v-text-field
            v-model="user.connectorVersion"
            label="Connector version"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="user.gatewayVersion" label="Gateway version" />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="user.gatewayUrl" label="Gateway URL" />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import User from '@/data/models/user'

export default {
  props: {
    user: {
      type: User,
      required: true,
    },
  },
  data: () => ({
    pdfFiles: [],
    xmlFiles: [],
    pdfPreExists: false,
  }),
  watch: {
    pdfFiles() {
      if (this.pdfFiles) {
        this.pdfPreExists = false
        this.user.pdf = this.pdfFiles.name
      }
    },
  },
  mounted() {
    this.pdfPreExists = !!this.user.pdf
  },
  methods: {},
}
</script>
