<template>
  <v-card flat class="d-flex flex-column" style="height: 100%">
    <v-card-title class="indigo--text text--darken-1"> XML Files </v-card-title>
    <v-card-text>
      <v-alert
        colored-border
        elevation="1"
        :type="alertColor"
        border="left"
        class="align-self-center"
      >
        {{ alertBody }}
      </v-alert>
      <div class="file-input">
        <v-form ref="fileForm" v-model="fileFormValid">
          <v-file-input
            v-model="xmlFiles"
            label="Upload new xml files"
            accept="text/xml"
            multiple
            chips
            clearable
            :rules="[validateXmlFiles]"
          />
        </v-form>
      </div>
      <v-row no-gutters>
        <v-col md="4">
          <v-list v-if="!!userXmls.length">
            <v-subheader>SAVED XML FILES</v-subheader>
            <template v-for="(xml, index) in userXmls">
              <v-list-item :key="xml">
                <v-list-item-icon>
                  <v-btn icon color="error" @click="removeFile(xml)">
                    <v-icon> mdi-trash-can-outline </v-icon>
                  </v-btn>
                </v-list-item-icon>
                <v-list-item-title>
                  <a class="text-decoration-none" @click="downloadFile(xml)">
                    {{ xml }}
                  </a>
                </v-list-item-title>
              </v-list-item>
              <v-divider v-if="index !== userXmls.length - 1" :key="index" />
            </template>
          </v-list>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions class="mt-auto">
      <v-spacer />
      <v-btn color="success" text :loading="loading" @click="saveXmls">
        Save XML files
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { fileToBase64 } from '@/utils/base64Helper'

export default {
  data: () => ({
    fileFormValid: true,
    userXmls: [],
    xmlFiles: [],
    loading: false,
  }),
  computed: {
    alertBody: (vm) =>
      !vm.userXmls.length
        ? 'Upload an XML file so that you can reuse it when sending messages'
        : `Upload a new XML file by clicking on the input below. Click on "Save" button to persist changes.`,
    alertColor: (vm) => (!vm.userXmls.length ? 'warning' : 'info'),
  },
  mounted() {
    this.userXmls = [...(this.$auth.user?.xmls || [])]
  },
  methods: {
    /**
     * @param {string} filename
     */
    downloadFile(filename) {
      this.$downloader.download(`/api/users/files/xmls/${filename}`, filename)
    },
    validateXmlFiles() {
      const uploadedFilenames = this.xmlFiles.map((file) => file.name)
      return (
        this.userXmls.every(
          (userXmlFilename) => !uploadedFilenames.includes(userXmlFilename)
        ) ||
        'At least one filename already exists. Please remove and upload again with different filename'
      )
    },
    /**
     * @param {string} filename
     */
    removeFile(filename) {
      this.userXmls = this.userXmls.filter(
        (userFilename) => userFilename !== filename
      )
    },
    /**
     * @param {File} xmlFile
     * @return {Promise<void>}
     */
    async uploadXml(xmlFile) {
      const filename = xmlFile.name
      try {
        const content = await fileToBase64(xmlFile)
        await this.$api.users.uploadFile(content, filename, 'xmls')
        this.userXmls.push(filename)
      } catch (error) {
        console.log(error)
        this.$snack.toggleWarning(`File upload failed for: ${filename}`)
      }
    },
    async submitFilenames() {
      try {
        await this.$api.users.submitFilenames(this.userXmls, 'xmls')
        this.$snack.toggleSuccess('User XML files saved successfully')
      } catch (error) {
        console.log(error)
        this.$snack.toggleError('Saving user XML files failed')
      }
    },
    async saveXmls() {
      if (!this.$refs.fileForm.validate()) {
        this.$snack.toggleError('Please fix issues on XML files')
        return
      }
      this.loading = true
      for (const xmlFile of this.xmlFiles) {
        await this.uploadXml(xmlFile)
      }
      await this.submitFilenames()
      this.$auth.setUser({ ...this.$auth.user, xmls: this.userPdfs })
      this.loading = false
    },
  },
}
</script>

<style lang="scss">
.v-alert__wrapper {
  .v-icon.v-alert__icon {
    margin-top: 5px;
  }
}
</style>
