<template>
  <v-card flat>
    <v-card-title class="warning--text"> Routing variables </v-card-title>
    <v-card-subtitle>
      Relevant variables in the message.properties file that accompanies each
      outgoing message and handles message routing.
    </v-card-subtitle>
    <v-card-text>
      <v-row>
        <v-col>
          <v-text-field
            v-model="user.gateway"
            label="Gateway"
            :disabled="true"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="user.finalRecipient" label="Final recipient" />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="user.originalSender" label="Original sender" />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import User from '@/data/models/user'

export default {
  props: {
    user: {
      type: User,
      required: true,
    },
  },
}
</script>
