<template>
  <v-row v-if="editedUser">
    <v-col>
      <v-card>
        <v-card-title>
          {{ environment.name | capitalize }} Environment
        </v-card-title>
        <v-card-subtitle>
          {{ environment.name }} environment versions and usecases
        </v-card-subtitle>
        <v-card-text class="pb-0">
          <v-row>
            <v-col>
              <v-text-field
                v-model="gatewayVersion"
                label="Gateway Version"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                v-model="connectorVersion"
                label="Connector Version"
              ></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                v-model="gatewayUrl"
                label="Gateway Url"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-col>
          Use Cases that you participate or plan to participate in
          {{ environment.name }} environment
        </v-col>
        <v-card-text class="pt-0">
          <v-row>
            <user-usecase-settings
              v-for="(usecase, uIndex) in environment.usecases"
              v-if="!usecase.test"
              :key="uIndex"
              :usecase="usecase"
              :environment="environment"
              :user="user"
            ></user-usecase-settings>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  filters: {
    capitalize(value) {
      if (!value) return ''

      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
  },
  props: {
    environment: {
      type: Object,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      editedUser: null,
    }
  },
  computed: {
    connectorVersion: {
      get() {
        return (
          (
            this.editedUser.connectorVersions.find(
              (version) => version.environment.id === this.environment.id
            ) || {}
          ).version || ''
        )
      },
      set(newValue) {
        const connectorVersion = this.editedUser.connectorVersions.find(
          (version) => version.environment.id === this.environment.id
        )
        if (!connectorVersion) {
          const newVersion = {
            version: newValue,
            environment: { id: this.environment.id },
          }
          this.editedUser.gatewayUrls = [
            ...this.editedUser.connectorVersions,
            newVersion,
          ]
        }
        connectorVersion.version = newValue
      },
    },
    gatewayUrl: {
      get() {
        return (
          (
            this.editedUser.gatewayUrls.find(
              (url) => url.environment.id === this.environment.id
            ) || {}
          ).url || ''
        )
      },
      set(newValue) {
        const gatewayUrl = this.editedUser.gatewayUrls.find(
          (url) => url.environment.id === this.environment.id
        )
        if (!gatewayUrl) {
          const newUrl = {
            url: newValue,
            environment: { id: this.environment.id },
          }
          this.editedUser.gatewayUrls = [...this.editedUser.gatewayUrls, newUrl]
        }
        gatewayUrl.url = newValue
      },
    },
    gatewayVersion: {
      get() {
        return (
          (
            this.editedUser.gatewayVersions.find(
              (version) => version.environment.id === this.environment.id
            ) || {}
          ).version || ''
        )
      },
      set(newValue) {
        const gatewayVersion = this.editedUser.gatewayVersions.find(
          (version) => version.environment.id === this.environment.id
        )
        if (!gatewayVersion) {
          const newVersion = {
            version: newValue,
            environment: { id: this.environment.id },
          }
          this.editedUser.gatewayVersions = [
            ...this.editedUser.gatewayVersions,
            newVersion,
          ]
        }
        gatewayVersion.version = newValue
      },
    },
  },
  mounted() {
    this.editedUser = this.user
  },
}
</script>
