<template>
  <v-navigation-drawer
    :value="drawer"
    app
    @input="$emit('update:drawer', $event)"
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>
          <v-img
            src="/logo-small.png"
            max-width="150"
            contain
            class="mx-auto"
          />
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-divider />
    <v-list nav>
      <v-list-item
        v-for="item in items"
        :key="item.title"
        :to="item.route"
        nuxt
      >
        <v-list-item-icon>
          <v-icon v-text="item.icon" />
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import sidebarItems from '~/constants/sidebarItems'

export default {
  name: 'BaseNavigationDrawer',
  props: {
    drawer: {
      type: Boolean,
      required: true,
    },
  },
  data: () => ({
    sidebarItems,
  }),
  computed: {
    user: (vm) => vm.$auth.user,
    items: (vm) =>
      vm.sidebarItems.filter((item) =>
        (vm.user?.roles || []).some((role) => item.roles.includes(role))
      ),
  },
}
</script>
