<template>
  <v-app-bar app class="elevation-1" color="white">
    <v-app-bar-nav-icon @click="$emit('update:drawer', !drawer)" />
    <v-toolbar-title v-text="title" />
    <v-spacer />
    <v-toolbar-items>
      <v-btn text nuxt to="/profile" color="teal darken-4">
        <v-icon class="mr-2">mdi-account</v-icon> {{ username }}
      </v-btn>
      <v-btn icon color="red lighten-1" @click="logout">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-app-bar>
</template>

<script>
import sidebarItems from '@/constants/sidebarItems'
export default {
  props: {
    drawer: {
      type: Boolean,
      required: true,
    },
  },
  data: () => ({
    sidebarItems,
  }),
  computed: {
    user: (vm) => vm.$auth.user,
    username: (vm) => vm.user?.username,
    title: (vm) =>
      vm.sidebarItems.find((item) => item.route === vm.$route.path)?.title,
  },
  methods: {
    async logout() {
      await this.$auth.logout()
      await this.$router.replace('/login')
    },
  },
}
</script>
