<template>
  <prism-editor
    :value="value"
    class="ctp-code-editor"
    :highlight="highlighter"
    line-numbers
    v-on="$listeners"
  />
</template>

<script>
import { PrismEditor } from 'vue-prism-editor'
import 'vue-prism-editor/dist/prismeditor.min.css' // import the styles somewhere

// import highlighting library (you can use any library you want just return html string)
import { highlight, languages } from 'prismjs/components/prism-core'
import 'prismjs/components/prism-markup'
import 'prismjs/themes/prism.css' // import syntax highlighting styles

export default {
  components: {
    PrismEditor,
  },
  props: {
    value: {
      type: String,
      required: true,
    },
  },
  methods: {
    highlighter: (code) => highlight(code, languages.xml, 'xml'),
  },
}
</script>

<style>
.ctp-code-editor {
  color: #777;
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
}
</style>
