<template>
  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title v-text="title" />
      <v-card-text v-text="message" />
      <v-card-actions>
        <v-spacer />
        <v-btn text color="error" @click="dialog = false">No</v-btn>
        <v-btn text color="primary" @click="confirmAction">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    executeMethod: null,
    defaultTitle: 'Confirmation',
    title: 'Confirmation',
    message: 'Are you sure you want to continue?',
    defaultMessage: 'Are you sure you want to continue?',
  }),
  created() {
    this.$nuxt.$on(
      'confirmation-requested',
      (executeMethod, message, title) => {
        if (typeof executeMethod !== 'function') {
          return
        }
        this.executeMethod = executeMethod
        this.dialog = true
        this.message = message || this.defaultMessage
        this.title = title || this.defaultTitle
      }
    )
  },
  methods: {
    confirmAction() {
      this.executeMethod()
      this.dialog = false
    },
  },
}
</script>
