<template>
  <v-snackbar
    :value="hasFeedbackSnack"
    top
    :color="feedbackType"
    timeout="4000"
    @input="updateHasFeedback"
  >
    {{ feedbackContent }}
  </v-snackbar>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      hasFeedbackSnack: (state) => state.hasFeedbackSnack,
      feedbackType: (state) => state.feedbackType,
      feedbackContent: (state) => state.feedbackContent,
    }),
  },
  methods: {
    updateHasFeedback() {
      this.$store.commit('setHasFeedbackSnack', false)
    },
  },
}
</script>
