<template>
  <v-card class="infrastructure-table pb-4">
    <v-card-title> Installed Infrastructure </v-card-title>
    <v-card-subtitle> Overview </v-card-subtitle>
    <v-card-text class="infrastructure-table-content">
      <v-row class="overline text-center">
        <v-col> Gateway </v-col>
        <v-col> Gateway version </v-col>
        <v-col> Connector version </v-col>
      </v-row>
      <v-row
        v-for="user in users"
        :key="`infrastructure-user-${user.id}`"
        class="text-center"
      >
        <v-col align-self="center" class="py-0">
          <v-row>
            <div class="d-flex flex-shrink-1 align-center">
              <v-img
                :alt="`User's country flag - ${user.gateway}`"
                :src="flagUrl(user)"
                class="country-flag"
                height="1rem"
                contain
              />
            </div>
            <v-col v-text="user.gateway" />
          </v-row>
        </v-col>
        <v-col v-text="user.gatewayVersion" />
        <v-col v-text="user.connectorVersion" />
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'IndexInfrastructureTable',
  data: () => ({
    flagBaseUrl:
      'https://raw.githubusercontent.com/hjnilsson/country-flags/master/png100px/',
  }),
  computed: {
    User: (vm) => vm.$store.$db().model('users'),
    users: (vm) => vm.User.getUsers(),
  },
  methods: {
    flagUrl(user) {
      const countryCode = user.countryCode.toLowerCase()
      return (user.countryCode && `${this.flagBaseUrl}${countryCode}.png`) || ''
    },
  },
}
</script>

<style lang="scss">
.infrastructure-table {
  &-content {
    max-height: 23rem;
    overflow-y: auto;
  }
}
</style>
