<template>
  <v-row class="status-bar">
    <v-col cols="12" sm="6" md="4">
      <v-card height="100%">
        <v-card-text>
          <v-row>
            <v-col>
              <div>
                <v-img alt="E-Codex CTP Logo" src="/CTP-logo.png" />
              </div>
              <v-divider class="my-4" />
              <div>
                <p class="mb-0">
                  <span class="text-h6" v-text="environmentName" />
                  <span class="text-overline">environment</span>
                </p>
              </div>
              <div>
                <p class="mb-0">
                  <span class="text-h6" v-text="`pModes ${pModesValue}`" />
                  <span class="text-overline" v-text="`(${pModesDate})`" />
                </p>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <v-card height="100%">
        <v-card-text>
          <v-row>
            <v-col cols="2">
              <v-img alt="Gateway Logo" src="/ecodex-gateway.png" />
            </v-col>
            <v-col class="text-right">
              <p class="text-h6 mb-0">Domibus Gateway</p>
              <span class="text-subtitle-1" v-text="gatewayVersion" />
              <p class="text-h6 mb-0">e-CODEX Connector</p>
              <span class="text-subtitle-1" v-text="connectorVersion" />
            </v-col>
          </v-row>
          <v-divider class="my-4" />
          <div class="text-subtitle-1">
            Welcome to the e-CODEX Central Testing Platform
          </div>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" sm="6" md="4" offset-sm="3" offset-md="0">
      <v-card height="100%">
        <v-card-text>
          <v-row>
            <v-col>
              <v-icon large :class="worldIconColor"> mdi-earth </v-icon>
              <i />
            </v-col>
            <v-col class="text-right">
              <p class="text-h6 mb-0">Server status</p>
              <span class="text-subtitle-1" v-text="statusCode" />
            </v-col>
          </v-row>
          <v-divider class="my-4" />
          <div>
            <p class="text-subtitle-1">
              Connecting to {{ serverDomain }} ({{ serverIpAddress }})
            </p>
          </div>
          <div>
            <p class="text-subtitle-1">
              Last checked: {{ lastStatusCheckDate }}
            </p>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'IndexStatusBar',
  props: {
    statusOk: {
      type: Boolean,
      required: true,
    },
    lastStatusCheckDate: {
      type: String,
      required: true,
    },
  },
  computed: {
    environmentName: (vm) => vm.$config.environmentName,
    serverDomain: (vm) => vm.$config.serverDomain,
    serverIpAddress: (vm) => vm.$config.serverIpAddress,
    Parameter: (vm) => vm.$store.$db().model('parameters'),
    pModesValue: (vm) =>
      vm.Parameter.query().where('name', 'pModes_value').first()?.value || '',
    pModesDate: (vm) =>
      vm.Parameter.query().where('name', 'pModes_date').first()?.value || '',
    gatewayVersion: (vm) =>
      vm.Parameter.query().where('name', 'domibus_gateway').first()?.value ||
      '',
    connectorVersion: (vm) =>
      vm.Parameter.query().where('name', 'ecodex_connector').first()?.value ||
      '',
    statusCode: (vm) => (vm.statusOk ? 'OK' : 'ERROR'),
    worldIconColor: (vm) => `${vm.statusOk ? 'green' : 'red'}--text`,
  },
}
</script>
