.file-input {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 320px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
