<template>
  <v-container fluid>
    <v-card flat class="mt-5">
      <v-card-title>Manage users</v-card-title>
      <v-card-text>
        <v-btn class="my-7" color="primary" @click="createUser">
          Create user
        </v-btn>
        <v-data-table
          class="elevation-1"
          :headers="usersTableHeaders"
          :items="users"
        >
          <template v-slot:item.actions="{ item }">
            <v-btn
              v-if="!isCurrentUser(item)"
              icon
              class="mr-2"
              title="Delete user"
              @click="deleteUser(item)"
            >
              <v-icon> mdi-account-minus-outline </v-icon>
            </v-btn>
            <v-btn
              icon
              class="mr-2"
              title="Change user password"
              @click="changePassword(item)"
            >
              <v-icon> mdi-account-lock-outline </v-icon>
            </v-btn>
            <v-btn
              icon
              class="mr-2"
              title="Edit roles"
              @click="editRoles(item)"
            >
              <v-icon> mdi-account-key-outline </v-icon>
            </v-btn>
            <v-btn icon title="Edit user" @click="editUser(item)">
              <v-icon> mdi-account-edit-outline </v-icon>
            </v-btn>
          </template>
          <template v-slot:item.roles="{ item }">
            {{ roles(item) }}
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <dialog-user-create />
    <dialog-user-password-edit />
    <dialog-user-roles-edit />
  </v-container>
</template>

<script>
const usersTableHeaders = [
  { text: 'Username', value: 'username' },
  { text: 'Gateway', value: 'gateway' },
  { text: 'Role', value: 'roles', sortable: false },
  { text: 'Actions', value: 'actions', sortable: false },
]
export default {
  data: () => ({
    usersTableHeaders,
  }),
  computed: {
    User: (vm) => vm.$store.$db().model('users'),
    users: (vm) => vm.User.all(),
  },
  methods: {
    createUser() {
      this.$nuxt.$emit('create-user')
    },
    changePassword(user) {
      this.$nuxt.$emit('change-password', user.id)
    },
    deleteUser(user) {
      const doDelete = async () => {
        try {
          await this.User.deleteById(user.id)
          this.$snack.toggleSuccess('User deleted successfully')
        } catch (error) {
          this.$snack.toggleError('User deletion failed')
        }
      }

      this.$nuxt.$emit('confirmation-requested', doDelete)
    },
    editRoles(user) {
      this.$nuxt.$emit('edit-user-roles', user.id)
    },
    editUser(user) {
      this.$nuxt.$emit('edit-user', user.id)
    },
    isCurrentUser(user) {
      return user.$id === this.$auth.user.id
    },
    roles: (user) =>
      user.roles.map((role) => role.replace('ROLE_', '')).join(', '),
  },
}
</script>
