<template>
  <v-card flat class="mt-5">
    <v-card-title>Tests to be completed</v-card-title>
    <v-card-text>
      <create-report-dialog />
      <assertion-details-dialog />
      <report-details-dialog />
      <v-expansion-panels multiple>
        <v-expansion-panel
          v-for="assertion in assertions"
          :key="`user-assertion-${assertion.testId}`"
        >
          <v-expansion-panel-header>
            <v-row justify="space-between">
              <v-col>
                <span class="font-weight-bold mr-2" v-text="assertion.group" />
                {{ assertion.testId }}
              </v-col>
              <v-col class="text-right">
                <p v-if="assertion.reportsCount" class="mb-0 mr-3">
                  TestReport generated:
                  <timeago
                    :datetime="assertion.lastReport.dateAuthored"
                    :auto-update="60"
                  />
                </p>
                <p v-else class="text-dark mb-0 mr-3">No report generated</p>
              </v-col>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-row>
              <v-col cols="7" md="8">
                <p>
                  These reports below are reports created by this user referring
                  to the specific assertion.
                  <span class="font-weight-bold"> Click </span> on the
                  <v-icon small class="mx-1">mdi-information-outline</v-icon>
                  icon to view more information about each report.
                </p>
                <p>
                  Click
                  <a @click="viewAssertionDetails(assertion)"> here </a> to get
                  test assertion information.
                </p>
              </v-col>
              <v-spacer />
              <v-col cols="auto">
                <v-btn color="primary" dark @click="createReport(assertion)">
                  Generate new report
                </v-btn>
              </v-col>
            </v-row>
            <reports-data-table :reports="assertion.reports" />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  async asyncData({ $auth, store }) {
    await store.$db().model('assertions').fetchByUser($auth.user)
  },
  computed: {
    TestAssertion: (vm) => vm.$store.$db().model('assertions'),
    assertions: (vm) =>
      vm.TestAssertion.query()
        .where((assertion) => assertion.isAssignedToUser(vm.$auth.user.id))
        .with('reports')
        .get(),
  },
  methods: {
    /** @param {TestAssertion} assertion */
    viewAssertionDetails(assertion) {
      this.$nuxt.$emit('view-assertion-details', assertion.$id)
    },
    createReport(assertion) {
      this.$nuxt.$emit('create-test-report', assertion.$id)
    },
  },
}
</script>
