<template>
  <v-container fluid>
    <v-card flat class="mt-5">
      <v-card-title> Manage tests </v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-icon small class="mr-2">mdi-alert-circle-outline</v-icon>
            You can click on each assertion to see which users it has been
            assigned to.
          </v-col>
        </v-row>
        <create-assertion-dialog />
        <assign-assertion-dialog />
        <assertion-details-dialog />
        <v-row justify="space-between">
          <v-col sm="6" md="4" lg="3">
            <v-text-field label="Search by username" />
          </v-col>
        </v-row>
        <assertion-container />
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  async asyncData({ store }) {
    await store.$db().model('tests').fetch()
  },
}
</script>
