<template>
  <v-dialog v-model="dialog" max-width="500">
    <template #activator="{ on, attrs }">
      <v-btn
        class="mt-7"
        color="primary"
        v-bind="attrs"
        v-on="on"
        @click="mode = 'New'"
      >
        New parameter
      </v-btn>
    </template>
    <v-card>
      <v-card-title v-text="`${mode} parameter`" />
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field v-model="parameter.name" label="Name" />
          </v-col>
          <v-col>
            <v-text-field v-model="parameter.value" label="Value" />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="submitParameter" v-text="submitButtonLabel" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Parameter from '@/data/models/parameter'

export default {
  name: 'CreateParameterDialog',
  data: () => ({
    mode: 'New',
    parameter: new Parameter(),
    dialog: false,
  }),
  computed: {
    submitButtonLabel: (vm) => (vm.mode === 'New' ? 'Create' : 'Edit'),
  },
  mounted() {
    this.$nuxt.$on('edit-parameter', (parameterId) => {
      this.mode = 'Edit'
      this.parameter = this.$store.$db().model('parameters').find(parameterId)
      this.dialog = true
    })
  },
  methods: {
    async submitParameter() {
      if (this.mode === 'New') {
        await this.parameter.post()
        this.closeSuccessfully('Parameter created successfully!')
      } else if (this.mode === 'Edit') {
        await this.parameter.update()
        this.closeSuccessfully('Parameter edited successfully!')
      }
    },
    closeSuccessfully(message) {
      this.dialog = false
      this.$store.dispatch('toggleFeedbackSnack', { message })
    },
  },
}
</script>
