<template>
  <v-app>
    <base-navigation-drawer :drawer.sync="drawer" />
    <base-toolbar :drawer.sync="drawer" />
    <v-main>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
    <feedback-snack />
    <confirmation-dialog />
  </v-app>
</template>

<script>
export default {
  name: 'Default',
  data: () => ({ drawer: true }),
  middleware: ['essential-data-fetcher'],
}
</script>
