<template>
  <v-app light>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <feedback-snack />
  </v-app>
</template>

<script>
export default {
  auth: false,
  data: () => ({
    title: 'eCodex CTP - Login',
  }),
}
</script>
