<template>
  <v-container fluid>
    <v-card flat class="mt-5">
      <v-card-title>Manage parameters</v-card-title>
      <v-card-text>
        <create-parameter-dialog />
        <v-data-table
          :headers="headers"
          :items="parameters"
          class="elevation-1 mt-5"
        >
          <template v-slot:item.actions="{ item }">
            <v-icon small class="mr-2" @click="editParameter(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteParameter(item)"> mdi-delete </v-icon>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
const parametersHeaders = [
  { text: 'Name', value: 'name' },
  { text: 'Value', value: 'value' },
  { text: '', value: 'actions' },
]
export default {
  data: () => ({
    headers: parametersHeaders,
  }),
  computed: {
    Parameter: (vm) => vm.$store.$db().model('parameters'),
    parameters: (vm) => vm.Parameter.all(),
  },
  methods: {
    editParameter(parameter) {
      this.$nuxt.$emit('edit-parameter', parameter.$id)
    },
    deleteParameter(parameter) {
      const doDelete = async () => {
        try {
          await this.Parameter.deleteById(parameter.id)
          this.$snack.toggleSuccess('Parameter deleted successfully')
        } catch (error) {
          this.$snack.toggleError('Parameter deletion failed')
        }
      }

      this.$nuxt.$emit('confirmation-requested', doDelete)
    },
  },
}
</script>
