<template>
  <v-container>
    <v-card>
      <v-card-title>e-CODEX Central Testing Platform</v-card-title>
      <v-card-text>
        <p>
          The e-CODEX Central Testing platform (CTP) is an automated Web tool
          for sending and receiving messages in e-CODEX. The CTP is a full
          e-CODEX node (Domibus Gateway & e-CODEX connector) within the e-CODEX
          testing environment that is
          <span class="font-italic">automatically managed</span>
          by this Web interface.
        </p>
        <p>The CTP Web interface allows registered users to:</p>
        <ol class="mb-4">
          <li>Request test messages to be sent to their gateway</li>
          <li>Send test messages from their gateway to the CTP</li>
        </ol>
        <p>
          Individual message progress, evidences and error logs are tracked and
          presented to the user via a specifically-designed interface that
          facilitates testing. For outgoing messages, samples (which are also
          available separately for download) are provided to expedite the
          process.
        </p>
        <v-divider></v-divider>
        <v-row class="grey lighten-3">
          <v-col cols="2">
            <v-img class="img-fluid" src="/auth-logo.png" />
          </v-col>
          <v-col cols="10">
            <blockquote>
              <p class="font-italic">
                The e-CODEX CTP is developed and maintained by the Aristotle
                University of Thessaloniki, Greece, in close collaboration with
                Me-CODEX WS2.
              </p>
            </blockquote>
            <p class="text-right text--disabled">
              Contact us: ecodex-ctp@auth.gr
            </p>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-card class="mt-8">
      <v-card-title>Changelog</v-card-title>
      <v-card-text>
        <div v-for="(change, index) in changes" :key="`change-${index}`">
          <div class="d-flex">
            <div class="flex-shrink pa-3 changelog__version-container">
              <h3 class="pa-1" v-text="change.version" />
            </div>
            <div class="flex-shrink pa-3">
              <v-chip :color="colors[change.chip]" label v-text="change.chip" />
            </div>
            <div class="pa-3 align-self-center" v-text="change.text" />
          </div>
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
const changes = [
  {
    version: '4.0',
    chip: 'New',
    text: 'Major Web framework upgrade & interface facelift.',
  },
  {
    version: '3.1',
    chip: 'New',
    text:
      'Updated XML & SBDH Header of Small Claims forms to align with current versions (Message content unchanged).',
  },
  {
    version: '3.0',
    chip: 'New',
    text:
      'Upgraded to support eCODEX Gateway version 3 (XML validation not supported).',
  },
  {
    version: '2.2',
    chip: 'New',
    text:
      'Business Registers use-case support (both Incoming & Outgoing, No validation supported).',
  },
  {
    version: '2.1',
    chip: 'New',
    text: 'Small Claims use-case support (both Incoming & Outgoing).',
  },
  {
    version: '',
    chip: 'New',
    text:
      'MLA use-case support (both Incoming & Outgoing) [Without use of 2-way SSL].',
  },
  {
    version: '',
    chip: 'New',
    text: 'Interactive Domibus log viewer.',
  },
  {
    version: '',
    chip: 'New',
    text: 'Infrastructure Update History per User.',
  },
  {
    version: '',
    chip: 'Ext',
    text: 'Online validation for outgoing messages.',
  },
  {
    version: '',
    chip: 'Ext',
    text: 'ConversationID Support.',
  },
  {
    version: '2.0',
    chip: 'New',
    text: 'EPO use-case support (both Incoming & Outgoing).',
  },
  {
    version: '',
    chip: 'New',
    text:
      'Automatic XML Validation of incoming EPO messages based on current WP6 schema.',
  },
  {
    version: '',
    chip: 'New',
    text: 'Preview of Gateway error messages.',
  },
  {
    version: '',
    chip: 'New',
    text: 'Administration account to monitor messages.',
  },
  {
    version: '',
    chip: 'Ext',
    text: 'Connectivity Checking - Receiving GW-TEST Messages.',
  },
  {
    version: '',
    chip: 'Ext',
    text:
      'Real-time updating of evidences from the details view of each message.',
  },
  {
    version: '',
    chip: 'Ext',
    text:
      'Filtering/Sorting/extra pagination functionalities in preview tables of messages and installed infrastructure.',
  },
  {
    version: '1.1',
    chip: 'New',
    text:
      'Overview of Installed Infrastructure: A list of Productive & Test Environment versions of each registered CTP user, accessible through the e-CODEX CTP frontpage.',
  },
  {
    version: '',
    chip: 'New',
    text:
      'User Profile: Each registered user is now able to preview and edit their profile variables which refer to Productive and Test Environment Version and also some personal testing variables.',
  },
  {
    version: '',
    chip: 'Fix',
    text: 'Minor bug fixes, design updates.',
  },
  {
    version: '1.0',
    chip: 'New',
    text: 'User registration with independent country credentials.',
  },
  {
    version: '',
    chip: 'New',
    text: 'Connectivity Checking - Sending GW-TEST Messages.',
  },
  {
    version: '',
    chip: 'New',
    text: 'Real-time updating of evidences.',
  },
  {
    version: '',
    chip: 'New',
    text: 'Material: Sample EPO Forms.',
  },
]

const colors = {
  Fix: 'warning',
  New: 'primary',
  Ext: 'secondary',
}
export default {
  data: () => ({
    colors,
    changes,
  }),
}
</script>

<style scoped>
.changelog__version-container {
  min-width: 8ch;
}
</style>
