<template>
  <div>
    <h1>Chart Demo</h1>
    <div class="grid">
      <BarChart v-if="loaded" :cdata="barData" />
      <BarChart v-if="loaded" :cdata="actionBarData" />
      <ChartLineMessagesByCreated v-if="loaded" :cdata="timeCreatedData" />
      <BarChart v-if="loaded" :cdata="statusBarData" />
    </div>
  </div>
</template>

<script>
export default {
  async fetch() {
    const Message = this.$store.$db().model('messages')
    await Message.fetch()
    this.messages = Message.all()
  },
  data: () => ({
    loaded: false,
    messages: [],
    barData: {
      labels: [],
      datasets: [],
    },
    actionBarData: {
      labels: [],
      datasets: [],
    },
    statusBarData: {
      labels: [],
      datasets: [],
    },
    timeCreatedData: {
      data: {
        day: [],
        month: [],
        year: [],
      },
      labels: {
        day: [],
        month: [],
        year: [],
      },
    },
  }),
  watch: {
    messages: {
      handler() {
        const fromPartyId = this.messages.reduce(function (r, a) {
          r[a.fromPartyId] = r[a.fromPartyId] || []
          r[a.fromPartyId].push(a)
          return r
        }, Object.create(null))

        this.fromPartyIdValues = Object.values(fromPartyId).map((x) => x.length)
        this.fromPartyIdLabels = Object.keys(fromPartyId).map((a, i) => {
          const x = a + ' (' + this.fromPartyIdValues[i] + ')'
          return x
        })

        this.barData.datasets = [
          {
            backgroundColor: '#de98ab',
            borderColor: '#0c0306',
            data: Object.values(fromPartyId).map((x) => x.length),
            label: 'FromParty',
          },
        ]

        this.barData.labels = Object.keys(fromPartyId).map((a, i) => {
          const x = a + ' (' + this.fromPartyIdValues[i] + ')'
          return x
        })

        const action = this.messages.reduce(function (r, a) {
          if (a.action !== null) {
            r[a.action] = r[a.action] || []
            r[a.action].push(a)
          }
          return r
        }, Object.create(null))
        this.action_values = Object.values(action).map((x) => x.length)
        this.action_labels = Object.keys(action).map((a, i) => {
          const x = a + ' (' + this.action_values[i] + ')'
          return x
        })

        this.actionBarData.datasets = [
          {
            backgroundColor: '#7ef363',
            borderColor: '#0c0306',
            data: Object.values(action).map((x) => x.length),
            label: 'Action',
          },
        ]

        this.actionBarData.labels = Object.keys(action).map((a, i) => {
          const x = a + ' (' + this.action_values[i] + ')'
          return x
        })

        const dayCreated = this.messages.reduce((r, a) => {
          const z = new Date(a.created)
          const y = z.getDate() + '/' + (z.getMonth() + 1)
          r[y] = r[y] || []
          r[y].push(a)
          return r
        }, Object.create(null))

        const monthCreated = this.messages.reduce((r, a) => {
          const z = new Date(a.created)
          const y = z.getMonth() + 1
          r[y] = r[y] || []
          r[y].push(a)
          return r
        }, Object.create(null))

        const yearCreated = this.messages.reduce((r, a) => {
          const z = new Date(a.created)
          const y = z.getFullYear()
          r[y] = r[y] || []
          r[y].push(a)
          return r
        }, Object.create(null))

        const dayCreatedLabels = Object.keys(dayCreated)
        const dayCreatedValues = Object.values(dayCreated).map((x) => x.length)

        this.timeCreatedData.labels.day = dayCreatedLabels
        this.timeCreatedData.data.day = dayCreatedValues

        const monthCreatedLabels = Object.keys(monthCreated)
        const monthCreatedValues = Object.values(monthCreated).map(
          (x) => x.length
        )

        this.timeCreatedData.labels.month = monthCreatedLabels
        this.timeCreatedData.data.month = monthCreatedValues

        const yearCreatedLabels = Object.keys(yearCreated)
        const yearCreatedValues = Object.values(yearCreated).map(
          (x) => x.length
        )

        this.timeCreatedData.labels.year = yearCreatedLabels
        this.timeCreatedData.data.year = yearCreatedValues

        // this.created_labels = Object.keys(created)
        // this.created_values = Object.values(created).map(x => x.length)

        this.loaded = true
      },
      immediate: false,
    },
  },
  mounted() {
    this.$api.stats.getConnectorStatus().then((status) => {
      const day = status.reduce((r, a) => {
        const z = new Date(a.createdAt)
        const y = z.toDateString()
        r[y] = r[y] || []
        r[y].push(a.status)
        return r
      }, Object.create(null))

      const dayStatusLabels = Object.keys(day)
      const dayStatusValues = Object.values(day).map((x) => {
        if (x.includes(true)) {
          if (x.includes(false)) {
            return 1
          } else {
            return 3
          }
        } else {
          return 0
        }
      })

      this.statusBarData.labels = dayStatusLabels
      this.statusBarData.datasets = [
        {
          backgroundColor: '#2dbd09',
          borderColor: '#0c0306',
          data: dayStatusValues,
          label: 'Status',
        },
      ]
    })
  },
}
</script>

<style lang="scss" scoped>
.grid {
  display: grid;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
