<template>
  <v-row>
    <v-col class="text-center">
      <div>
        <h1>Stats</h1>
        <ClientOnly>
          <statistics-sparkline-container />
        </ClientOnly>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {}
</script>
