<template>
  <v-container>
    <v-card>
      <v-card-title>e-CODEX CTP Documentation</v-card-title>
      <v-card-subtitle>
        e-Download the file for more information
      </v-card-subtitle>
      <v-card-text class="text-center">
        <v-btn color="primary" href="/api/files/help" target="_blank">
          <v-icon class="mr-2">mdi-download</v-icon> Version 4.0 - 03/2018
        </v-btn>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {}
</script>
