<template>
  <div>
    <index-status-bar
      :last-status-check-date="lastStatusCheckDate"
      :status-ok="statusOk"
    />
    <v-row>
      <v-col>
        <index-infrastructure-table />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import IndexStatusBar from '@/components/index/StatusBar'
import IndexInfrastructureTable from '@/components/index/InfrastructureTable'

export default {
  components: {
    IndexInfrastructureTable,
    IndexStatusBar,
  },
  data: () => ({
    lastStatusCheckDate: '11/11/2020 22:20:03',
    statusOk: true,
  }),
  head: { title: 'Dashboard' },
}
</script>
