<template>
  <v-row>
    <v-col md="6" offset-md="3" offset-xl="4" xl="4" sm="8" offset-sm="2">
      <v-card class="pb-3">
        <v-card-title>
          <v-row id="logo" class="text-center pa-0 py-3" justify="center">
            <v-col cols="6" class="pa-0">
              <v-img src="/logo-small.png" />
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col md="12" class="text-center">
              <v-text-field v-model="username" label="Username" />
            </v-col>
          </v-row>
          <v-row class="mb-3">
            <v-col class="text-center">
              <v-text-field
                v-model="password"
                autocomplete="on"
                label="Password"
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
                @keyup.enter="login"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn type="submit" color="primary" :block="true" @click="login">
                Submit
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <v-overlay v-model="loading" />
  </v-row>
</template>

<script>
export default {
  layout: 'login',
  data: () => ({
    username: null,
    showPassword: false,
    password: null,
    loading: false,
  }),
  methods: {
    async login() {
      try {
        const data = { username: this.username, password: this.password }
        await this.$auth.loginWith('local', { data })
      } catch (err) {
        console.log(err)
        this.$snack.toggleError('Login failed')
      }
    },
  },
  head: { title: 'Login' },
}
</script>
