<template>
  <v-container fluid>
    <v-card>
      <v-card-title>e-CODEX Material</v-card-title>
      <v-card-subtitle>
        All PDF files that accompany the samples are unsigned
      </v-card-subtitle>
      <v-card-text class="mt-5">
        <v-row justify="center">
          <v-col class="text-center">
            <v-btn color="primary" @click="downloadFile('epo-samples')">
              <v-icon class="mr-2">mdi-download</v-icon>
              Download sample EPO forms
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-center">
            <v-btn color="primary" @click="downloadFile('sc-samples')">
              <v-icon class="mr-2">mdi-download</v-icon>
              Download sample Small Claim Forms
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-center">
            <v-btn color="primary" @click="downloadFile('mla-samples')">
              <v-icon class="mr-2">mdi-download</v-icon>
              Download sample Mutual Legal Assistance Forms
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  methods: {
    downloadFile(filepath) {
      this.$downloader.download(`/api/files/${filepath}`, `${filepath}.zip`)
    },
  },
}
</script>
