<template>
  <v-card flat>
    <v-card-text>
      <v-alert
        type="info"
        colored-border
        border="left"
        elevation="1"
        class="secondary--text"
      >
        <v-icon slot="icon" color="primary"> mdi-information-outline </v-icon>
        <p>
          This page lists the messages that you send from the CTP to your
          gateway or vice-versa.
        </p>
        <p>Messages are grouped by Conversation ID.</p>
        <p>
          You can click on a Conversation ID to expand it and see the messages
          it is associated with
        </p>
      </v-alert>
      <v-row v-if="currentUser.isTester">
        <v-col class="text-center">
          <v-alert type="info">
            You're logged in as a demo user. New Conversations you create will
            not persist and new outgoing Messages will not be actually sent to a
            recipient.
          </v-alert>
        </v-col>
      </v-row>
      <div class="d-flex align-center">
        <dialog-conversation-create />
        <v-spacer />
        <v-switch
          v-model="timerOn"
          label="Auto update messages"
          :loading="loading"
          color="teal darken-4"
        ></v-switch>
      </div>
      <conversation-container :empty-conversations="emptyConversations" />
    </v-card-text>
    <message-notification-snack />
    <dialog-message-create />
    <dialog-message-details />
  </v-card>
</template>

<script>
export default {
  async asyncData({ store }) {
    await store.$db().model('messages').fetch()
  },
  data: () => ({
    timerOn: true,
    timer: null,
    updateInterval: 10000,
    emptyConversations: [],
  }),
  computed: {
    loading: (vm) => vm.$store.state.entities.messages.loading,
    currentUser: (vm) => vm.$auth.user,
    Message: (vm) => vm.$store.$db().model('messages'),
  },
  watch: {
    timerOn: {
      handler() {
        if (!this.timerOn) {
          this.timer && clearTimeout(this.timer)
          this.timer = null
          return
        }
        this.restartTimer()
      },
      immediate: true,
    },
  },
  created() {
    if (process.client) {
      this.updateCheckDateCookie()
    }
  },
  methods: {
    restartTimer() {
      this.timer = setTimeout(() => {
        this.fetchUpdatedMessages()
      }, this.updateInterval)
    },
    updateCheckDateCookie() {
      this.$cookies.set('check_message_date', new Date().toISOString(), {
        path: '/',
      })
    },
    async fetchUpdatedMessages() {
      if (!process.client) {
        return
      }
      /**
       * @type {MessageNotification[]}
       */
      const notifications = await this.Message.fetchUpdated()
      this.updateCheckDateCookie()
      this.$nuxt.$emit('notify-message-updates', notifications)
      this.restartTimer()
    },
  },
  head: {
    title: 'Messages',
  },
}
</script>
