<template>
  <main>
    <!--    <v-btn class="mt-5" text color="primary" @click="changePassword">-->
    <!--      Change password-->
    <!--    </v-btn>-->
    <v-card class="mt-5">
      <v-card-text>
        <v-row no-gutters>
          <v-col cols="12" md="6" lg="3">
            <card-contact-details :user="user" />
          </v-col>
          <v-col cols="12" md="6" lg="3">
            <card-testing-variables :user="user" />
          </v-col>
          <v-col cols="12" md="6" lg="3">
            <card-sbdh-variables :user="user" />
          </v-col>
          <v-col cols="12" md="6" lg="3">
            <card-environment-variables :user="user" />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" text @click="editProfile">Submit</v-btn>
      </v-card-actions>
    </v-card>
    <v-card class="mt-4">
      <v-card-text>
        <v-row no-gutters>
          <v-col cols="12" sm="6"> <card-xml-files /> </v-col>
          <v-col cols="12" sm="6"> <card-pdf-files /> </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </main>
</template>

<script>
import User from '@/data/models/user'
export default {
  computed: {
    user: (vm) => new User(vm.$auth.user),
    Service: (vm) => vm.$store.$db().model('services'),
  },
  methods: {
    changePassword() {
      this.$nuxt.$emit('change-password')
    },
    async editProfile() {
      try {
        await this.user.update()

        this.$snack.toggleSuccess('User profile updated successfully!')
      } catch (error) {
        this.$snack.toggleError('User profile update failed!')
      }
    },
  },
}
</script>
