<template>
  <v-expansion-panel-header>
    <v-row justify="space-between">
      <v-col>
        <span class="font-weight-bold mr-2" v-text="assertion.group" />
        <template v-if="assertion.reportsCount">
          <v-icon color="success">mdi-check</v-icon>
          <span class="text--success" v-text="`(${assertion.reportsCount})`" />
        </template>
        {{ assertion.testId }}
      </v-col>
      <v-col class="text-right">
        <v-icon
          class="mr-2"
          title="Get test assertion information"
          @click.native.stop="viewAssertionDetails(assertion)"
        >
          mdi-information-outline
        </v-icon>
        <v-icon
          class="mr-2"
          title="Delete test assertion"
          @click.native.stop="deleteAssertion(assertion)"
        >
          mdi-delete-outline
        </v-icon>
        <v-icon
          class="mr-2"
          title="Edit test assertion"
          @click.native.stop="editAssertion(assertion)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          class="mr-2"
          title="Assign test assertion to user"
          @click.native.stop="assignAssertion(assertion)"
        >
          mdi-account-star-outline
        </v-icon>
        <v-icon
          class="mr-2"
          title="Unassign test assertion from user"
          @click.native.stop="unassignAssertion(assertion)"
        >
          mdi-account-minus-outline
        </v-icon>
        <v-icon
          class="mr-4"
          title="Duplicate test assertion"
          @click.native.stop="duplicateAssertion(assertion)"
        >
          mdi-content-duplicate
        </v-icon>
      </v-col>
    </v-row>
  </v-expansion-panel-header>
</template>

<script>
import TestAssertion from '@/data/models/testAssertion'

export default {
  props: {
    assertion: {
      type: TestAssertion,
      required: true,
    },
  },
  computed: {
    TestAssertion: (vm) => vm.$store.$db().model('assertions'),
  },
  methods: {
    assignAssertion(assertion) {
      this.$nuxt.$emit('assign-test-assertion', assertion.$id)
    },
    viewAssertionDetails(assertion) {
      this.$nuxt.$emit('view-assertion-details', assertion.$id)
    },
    deleteAssertion(assertion) {
      const doDelete = async () => {
        try {
          await this.TestAssertion.deleteById(assertion.id)
          this.$snack.toggleSuccess('Test assertion deleted successfully')
        } catch (error) {
          this.$snack.toggleError('Test assertion deletion failed')
        }
      }

      this.$nuxt.$emit('confirmation-requested', doDelete)
    },
    duplicateAssertion(assertion) {
      const assertionToDuplicate = JSON.parse(JSON.stringify(assertion))
      const ids = { id: null, $id: null, testId: null }
      this.$nuxt.$emit('duplicate-test-assertion', {
        ...assertionToDuplicate,
        ...ids,
      })
    },
    editAssertion(assertion) {
      this.$nuxt.$emit('edit-test-assertion', assertion.$id)
    },
    unassignAssertion(assertion) {
      this.$nuxt.$emit('unassign-test-assertion', assertion.$id)
    },
  },
}
</script>
