<template>
  <v-dialog v-model="dialog" max-width="1000">
    <v-card>
      <v-card-title class="teal darken-2 white--text" v-text="dialogTitle" />
      <v-card-text class="pt-4">
        <v-expansion-panels multiple>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Test Assertion details
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">Detail</th>
                      <th class="text-left">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(detail, index) in details" :key="index">
                      <td v-text="detail.detail" />
                      <td v-text="detail.value" />
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header> XML File </v-expansion-panel-header>
            <v-expansion-panel-content>
              <code-editor v-model="xml" />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import TestAssertion from '@/data/models/testAssertion'

export default {
  data: () => ({
    dialog: false,
    assertion: new TestAssertion(),
    xml: '<xml>Test xml</xml>',
  }),
  computed: {
    details() {
      const [firstTag, ...restTags] = this.assertion.tags
        .filter((tag) => !tag.isDeleted)
        .map((tag) => `Name: ${tag.name} - Attribute: ${tag.attribute}`)

      const [firstVar, ...restVars] = this.assertion.variables
        .filter((variable) => !variable.isDeleted)
        .map(
          (variable) =>
            `Name: ${variable.name} - Attribute: ${variable.attribute}`
        )

      return [
        { detail: 'ID (testAssertion)', value: this.assertion.testId },
        { detail: 'Normative Source', value: this.assertion.normativeSource },
        { detail: 'Description', value: this.assertion.description },
        { detail: 'Prerequisite', value: this.assertion.prerequisite },
        { detail: 'Target', value: this.assertion.target },
        { detail: 'Prescription', value: this.assertion.prescription },
        { detail: 'Predicate', value: this.assertion.predicate },
        { detail: 'Tags', value: firstTag },
        ...restTags.map((tag) => ({ detail: '', value: tag })),
        { detail: 'Vars', value: firstVar },
        ...restVars.map((variable) => ({ detail: '', value: variable })),
      ]
    },
    dialogTitle: (vm) => `#${vm.assertion.id} Test assertion details`,
  },
  mounted() {
    this.$nuxt.$on('view-assertion-details', (assertionId) => {
      this.assertion = this.$store.$db().model('assertions').find(assertionId)
      this.dialog = true
    })
  },
}
</script>
