<template>
  <v-expansion-panels multiple>
    <v-expansion-panel
      v-for="assertion in assertions"
      :key="`assertion-${assertion.testId}`"
    >
      <assertion-panel-header :assertion="assertion" />
      <v-expansion-panel-content>
        <v-card>
          <v-card-title> Test reports </v-card-title>
          <v-data-table :headers="headers" :items="assertion.users">
            <template v-slot:item="{ item }">
              <tr :class="{ pointer: hasUserReports(assertion, item) }">
                <td v-text="item.username" />
                <td v-text="item.contactPerson" />
                <td v-text="item.email" />
                <td v-text="item.gateway" />
                <td
                  v-if="lastUserReport(assertion, item.id)"
                  v-text="lastUserReport(assertion, item.id).dateAuthored"
                />
                <td v-else>Never</td>
              </tr>
            </template>
            <template #no-data>
              This assertion has not been assigned to any users
            </template>
          </v-data-table>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
const headers = [
  { text: 'Username', value: 'username' },
  { text: 'Contact person', value: 'contactPerson' },
  { text: 'Email', value: 'email' },
  { text: 'Gateway', value: 'gateway' },
  { text: 'Last Report Generated', value: '' },
]
export default {
  data: () => ({
    headers,
  }),
  computed: {
    assertions: (vm) =>
      vm.$store.$db().model('assertions').query().with('users').get(),
  },
  methods: {
    hasUserReports(assertion, user) {
      return assertion.reports.some((report) => report.user.id === user.id)
    },
    lastUserReport(assertion, userId) {
      const userReport = assertion.reports.find(
        (report) => report.user.id === userId
      )
      return userReport || null
    },
  },
}
</script>
