<template>
  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title v-text="dialogTitle" />
      <v-card-text>
        <v-select
          v-model="selectedUser"
          label="Select User"
          :items="users"
          item-text="username"
          item-value="id"
        />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="blue darken-1" text @click="dialog = false">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="submit" v-text="mode" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    assertion: null,
    dialog: false,
    selectedUser: null,
    mode: 'Assign',
  }),
  computed: {
    dialogTitle: (vm) => `${vm.mode} test assertion`,
    User: (vm) => vm.$store.$db().model('users'),
    TestAssertion: (vm) => vm.$store.$db().model('assertions'),
    users: (vm) => {
      if (vm.mode === 'Unassign') {
        return vm.assertion.users
      }
      const ids = (vm.assertion?.users || []).map((user) => user.$id)
      return vm.User.getUsers().filter((user) => !ids.includes(user.$id))
    },
  },
  mounted() {
    this.$nuxt.$on('assign-test-assertion', (assertionId) => {
      this.assertion = this.getAssertionById(assertionId)
      this.openDialog('Assign')
    })

    this.$nuxt.$on('unassign-test-assertion', (assertionId) => {
      this.assertion = this.getAssertionById(assertionId)
      if (!this.assertion.users.length) {
        const message = 'This assertion is not assigned to anyone!'
        const type = 'error'
        this.$store.dispatch('toggleFeedbackSnack', { message, type })
        return
      }
      this.openDialog('Unassign')
    })
  },
  methods: {
    getAssertionById(assertionId) {
      return this.TestAssertion.query()
        .where('id', assertionId)
        .with('users')
        .first()
    },
    async submit() {
      if (this.mode === 'Assign') {
        await this.assertion.assignToUser(this.selectedUser)
        this.closeSuccessfully('Assertion assigned successfully!')
        return
      }
      await this.assertion.unassignFromUser(this.selectedUser)
      this.closeSuccessfully('Assertion unassigned successfully!')
    },
    closeSuccessfully(message) {
      this.dialog = false
      this.$store.dispatch('toggleFeedbackSnack', { message })
    },
    openDialog(mode) {
      this.mode = mode
      this.selectedUser = null
      this.dialog = true
    },
  },
}
</script>
