<template>
  <v-dialog v-model="dialog" max-width="1000">
    <template #activator="{ on, attrs }">
      <v-btn
        class="mt-7"
        color="primary"
        v-bind="attrs"
        v-on="on"
        @click="startNewAssertion"
      >
        New assertion
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="blue darken-3 white--text" v-text="dialogTitle" />
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field
              v-model="assertion.testId"
              label="ID (testAssertion)"
              required="true"
            />
          </v-col>
          <v-col>
            <v-select
              v-model="assertion.prescription"
              label="Prescription level"
              :items="prescriptionOptions"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="assertion.description"
              label="Description"
              required="true"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="assertion.normativeSource"
              label="Normative Source"
            />
          </v-col>
          <v-col>
            <v-text-field v-model="assertion.target" label="Target" />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field v-model="assertion.predicate" label="Predicate" />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-textarea v-model="assertion.prerequisite" label="Prerequisite" />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn text class="pa-0" @click="addTag">
              Tags <v-icon class="ml-2">mdi-text-box-plus-outline</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-row v-for="(tag, index) in tags" :key="`tag-form-${index}`">
          <v-col>
            <v-text-field v-model="tag.name" label="Tag name" />
          </v-col>
          <v-col>
            <v-text-field
              v-model="tag.attribute"
              label="Tag attribute"
              append-icon="mdi-close-circle-outline"
              @click:append="removeTag(index)"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn text class="pa-0" @click="addVar">
              Vars <v-icon class="ml-2">mdi-text-box-plus-outline</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-row
          v-for="(variable, index) in variables"
          :key="`var-form-${index}`"
        >
          <v-col>
            <v-text-field v-model="variable.name" label="Var name" />
          </v-col>
          <v-col>
            <v-text-field
              v-model="variable.attribute"
              label="Var attribute"
              append-icon="mdi-close-circle-outline"
              @click:append="removeVar(index)"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="submitAssertion">Submit</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import TestAssertion from '@/data/models/testAssertion'

class AdditionalAssertionInfo {
  constructor({ name = '', attribute = '' } = {}) {
    this.name = name
    this.attribute = attribute
  }

  get isEmpty() {
    return this.name && this.attribute
  }
}

export default {
  name: 'CreateAssertionDialog',
  data: () => ({
    assertion: new TestAssertion(),
    dialog: false,
    mode: null,
    prescriptionOptions: [
      { value: 'mandatory', text: 'Mandatory' },
      { value: 'permitted', text: 'Permitted' },
      { value: 'preferred', text: 'Preferred' },
    ],
    tags: [],
    variables: [],
  }),
  computed: {
    dialogTitle: (vm) => `${vm.mode} assertion`,
  },
  mounted() {
    this.$nuxt.$on('duplicate-test-assertion', (assertion) => {
      this.assertion = new TestAssertion(assertion)
      this.mode = 'New'
      this.dialog = true
    })
    this.$nuxt.$on('edit-test-assertion', (assertionId) => {
      this.mode = 'Edit'
      this.assertion = this.$store.$db().model('assertions').find(assertionId)
      this.tags = this.assertion.tags
      this.variables = this.assertion.variables
      this.dialog = true
    })
  },
  methods: {
    startNewAssertion() {
      this.assertion = new TestAssertion()
      this.mode = 'New'
      this.dialog = true
    },
    addTag() {
      this.tags.push(new AdditionalAssertionInfo())
    },
    addVar() {
      this.variables.push(new AdditionalAssertionInfo())
    },
    removeTag(index) {
      this.tags.splice(index, 1)
    },
    removeVar(index) {
      this.variables.splice(index, 1)
    },
    clearAdditionalInfos() {
      const isNotEmpty = (tag) => !tag.isEmpty
      this.assertion.tags = this.tags.filter(isNotEmpty)
      this.assertion.variables = this.variables.filter(isNotEmpty)
    },
    async submitAssertion() {
      this.clearAdditionalInfos()
      if (this.mode === 'New') {
        await this.assertion.post()
        this.closeSuccessfully('Assertion created successfully!')
      } else if (this.mode === 'Edit') {
        await this.assertion.update()
        this.closeSuccessfully('Assertion edited successfully!')
      }
    },
    closeSuccessfully(message) {
      this.dialog = false
      this.$store.dispatch('toggleFeedbackSnack', { message })
    },
  },
}
</script>
