<template>
  <v-dialog
    v-if="dialog"
    v-model="dialog"
    class="create-report-dialog"
    max-width="1400"
  >
    <v-card>
      <v-card-title class="blue darken-3 white--text" v-text="dialogTitle" />
      <v-card-text>
        <div>
          <h6 class="pt-4 grey--text text--darken-4 text-h6">
            Assertion details
          </h6>
          <v-row>
            <v-col>
              <p class="overline">Description</p>
              <p class="subtitle-1 mb-0" v-text="assertion.description" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <p class="overline">Predicate</p>
              <p class="subtitle-1 mb-0" v-text="assertion.predicate" />
            </v-col>
          </v-row>
        </div>
        <div class="mt-3">
          <h6 class="pt-4 grey--text text--darken-4 text-h6">
            TestReport Metadata
          </h6>
          <v-row>
            <v-col cols="12" :md="4 - Number(isAdmin)">
              <v-text-field
                v-model="report.performerName"
                label="Username"
                required="true"
              />
            </v-col>
            <v-col cols="12" :md="4 - Number(isAdmin)">
              <v-text-field
                v-model="report.performerEmail"
                label="User email"
                required="true"
              />
            </v-col>
            <v-col cols="12" :md="4 - Number(isAdmin)">
              <date-picker-input
                label="Date performed"
                :report="report"
                postfix="performed"
              />
            </v-col>
            <v-col v-if="isAdmin">
              <date-picker-input
                label="Date authored"
                :report="report"
                postfix="authored"
              />
            </v-col>
          </v-row>
        </div>
        <div class="mt-3">
          <h6 class="pt-4 grey--text text--darken-4 text-h6">Actors</h6>
          <div>
            <v-row class="mt-3">
              <v-col class="px-0">
                <v-btn color="primary" text @click="addingActor = !addingActor">
                  Add actor
                </v-btn>
              </v-col>
            </v-row>
            <v-row v-if="addingActor">
              <v-btn color="secondary" text @click="addCTPActor">
                Add CTP as actor
              </v-btn>
              <v-menu
                offset-y
                :close-on-content-click="false"
                transition="scale-transition"
                min-width="400px"
                min-height="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="secondary" text v-bind="attrs" v-on="on">
                    Add user as actor
                  </v-btn>
                </template>
                <div class="white pa-3">
                  <v-select
                    v-model="selectedUser"
                    label="Select user"
                    :items="users"
                    item-value="id"
                    :item-text="
                      (item) => `${item.username} (Gateway: ${item.gateway})`
                    "
                    return-object
                  />
                </div>
              </v-menu>
              <v-btn color="secondary" text @click="addCustomActor">
                Add custom actor
              </v-btn>
            </v-row>
            <v-row>
              <v-col>
                <create-report-actor-table :report="report" />
              </v-col>
            </v-row>
            <v-row v-if="hasCTPActor">
              <v-col class="px-0">
                <create-report-message-dialog @message-linked="linkMessage" />
              </v-col>
            </v-row>
          </div>
        </div>
        <create-report-message-evidence-table
          v-if="report.hasMessage"
          :message="report.message"
          @unlink-message="unlinkMessage"
        />
        <div class="mt-3">
          <h6 class="pt-4 grey--text text--darken-4 text-h6">Result</h6>
          <div>
            <v-row v-if="report.hasMessage">
              <v-col>
                <v-alert type="info" dense>
                  When linking the report to a CTP message, errors (if any) are
                  displayed automatically
                </v-alert>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-select
                  v-model="report.result"
                  label="Select result"
                  :items="resultOptions"
                  :color="resultColor"
                  autofocus
                />
              </v-col>
              <v-col v-if="report.isFailure">
                <v-textarea v-model="report.issues" label="Errors" rows="3" />
              </v-col>
            </v-row>
          </div>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="submitReport">Submit</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import TestReportActor from '@/data/models/lean/testReportActor'
import TestAssertion from '@/data/models/testAssertion'
import TestReport from '@/data/models/testReport'

const resultColors = {
  SUCCESS: 'success',
  FAILURE: 'error',
  UNDEFINED: 'warning',
}
const resultOptions = [
  { value: 'SUCCESS', text: 'Success' },
  { value: 'FAILURE', text: 'Failure' },
  { value: 'UNDEFINED', text: 'Undefined' },
]
export default {
  data: () => ({
    addingActor: false,
    dialog: false,
    mode: null,
    /** @type TestReport **/
    report: null,
    resultOptions,
    selectMessage: false,
    selectedUser: null,
    assertion: new TestAssertion(),
  }),
  computed: {
    serverIpAddress: (vm) => vm.$config.serverIpAddress,
    isAdmin: (vm) => vm.$auth.user.isAdmin,
    users: (vm) => vm.$store.$db().model('users').all(),
    TestReport: (vm) => vm.$store.$db().model('reports'),
    dialogTitle: (vm) =>
      vm.mode === 'New'
        ? `New Test TestReport for assertion: ${vm.assertion.testId}`
        : `Edit test report #${vm.report.reportId}`,
    hasCTPActor: (vm) => vm.report?.hasCTPActor,
    resultColor: (vm) => resultColors[vm.report.result],
    Message: (vm) => vm.$store.$db().model('messages'),
  },
  watch: {
    hasCTPActor(newValue) {
      if (!newValue && this.report) {
        this.unlinkMessage()
      }
      if (newValue) {
        this.Message.fetch()
      }
    },
    selectedUser() {
      if (this.selectedUser) {
        this.createUserActor()
      }
    },
  },
  mounted() {
    this.$nuxt.$on('create-test-report', (assertionId) => {
      this.report = new TestReport({ assertion_id: assertionId })
      this.assertion = this.$store.$db().model('assertions').find(assertionId)
      this.mode = 'New'
      this.dialog = true
    })
    this.$nuxt.$on('edit-test-report', (reportId) => {
      this.report = this.TestReport.query()
        .where('id', reportId)
        .with('assertion')
        .first()
      this.assertion = this.report.assertion
      this.mode = 'Edit'
      this.dialog = true
    })
  },
  methods: {
    addCTPActor() {
      const actor = new TestReportActor({
        uri: this.statusServerUrl,
        testCase: 'ctp',
      })
      this.completeAddActor(actor)
    },
    addCustomActor() {
      const actor = new TestReportActor({ testCase: 'custom' })
      this.completeAddActor(actor)
    },
    createUserActor() {
      if (this.report.hasUserActor(this.selectedUser)) {
        const message = 'User already added as actor!'
        const type = 'error'
        this.$store.dispatch('toggleFeedbackSnack', { message, type })
        return
      }

      const actor = TestReportActor.createFromUser(this.selectedUser)
      this.completeAddActor(actor)
    },
    completeAddActor(actor) {
      this.report.actors.push(actor)
      this.addingActor = false
      this.selectedUser = null
    },
    linkMessage(message) {
      this.report.message = message
    },
    async submitReport() {
      if (this.mode === 'New') {
        await this.report.post()
        this.closeSuccessfully('Test report created successfully!')
      } else if (this.mode === 'Edit') {
        await this.report.update()
        this.closeSuccessfully('Test report edited successfully!')
      }
    },
    closeSuccessfully(message) {
      this.dialog = false
      this.$store.dispatch('toggleFeedbackSnack', { message })
    },
    unlinkMessage() {
      this.report.message = null
    },
  },
}
</script>
