<template>
  <v-data-table
    v-if="report.actors.length"
    :headers="reportActorHeaders"
    :items="report.actors"
  >
    <template v-slot:item.name="props">
      <v-edit-dialog
        v-if="props.item.isCustom"
        :return-value.sync="props.item.name"
      >
        {{ props.item.name }}
        <template v-slot:input>
          <v-text-field
            v-model="props.item.name"
            label="Edit"
            single-line
            counter
          />
        </template>
      </v-edit-dialog>
      <template v-else>{{ props.item.name }}</template>
    </template>
    <template v-slot:item.uri="props">
      <v-edit-dialog
        v-if="props.item.isCustom"
        :return-value.sync="props.item.uri"
      >
        {{ props.item.uri }}
        <template v-slot:input>
          <v-text-field
            v-model="props.item.uri"
            label="Edit"
            single-line
            counter
          />
        </template>
      </v-edit-dialog>
      <template v-else>{{ props.item.uri }}</template>
    </template>
    <template v-slot:item.contact="props">
      <v-edit-dialog
        v-if="props.item.isCustom"
        :return-value.sync="props.item.contact"
      >
        {{ props.item.contact }}
        <template v-slot:input>
          <v-text-field
            v-model="props.item.contact"
            label="Edit"
            single-line
            counter
          />
        </template>
      </v-edit-dialog>
      <template v-else>{{ props.item.contact }}</template>
    </template>
    <template v-slot:item.role="props">
      <v-edit-dialog :return-value.sync="props.item.role">
        {{ props.item.role }}
        <template v-slot:input>
          <v-select
            v-model="props.item.role"
            label="Edit"
            :items="roleOptions"
          />
        </template>
      </v-edit-dialog>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small @click="removeReportActor(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import TestReport from '@/data/models/testReport'

const reportActorHeaders = [
  { text: 'Name', value: 'name' },
  { text: 'Contact', value: 'contact' },
  { text: 'Role', value: 'role' },
  { text: 'Uri', value: 'uri' },
  { text: '', value: 'actions' },
]

export default {
  props: {
    report: {
      type: TestReport,
      required: true,
    },
  },
  data: () => ({
    reportActorHeaders,
    roleOptions: [
      { value: 'SENDER', text: 'Sender' },
      { value: 'RECEIVER', text: 'Receiver' },
    ],
  }),
  methods: {
    removeReportActor(removedActor) {
      this.report.actors = this.report.actors.filter(
        (actor) => actor !== removedActor
      )
    },
  },
}
</script>
