<template>
  <v-dialog v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        text
        color="success"
        v-bind="attrs"
        v-on="on"
        v-text="`Message #${message.id}`"
      />
    </template>
    <v-card>
      <v-card-title
        class="success white--text"
        v-text="`Message #${message.id}`"
      />
      <v-card-text>
        <v-data-table :headers="evidenceHeaders" :items="message.evidences" />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="$emit('unlink-message')">Unlink message</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Message from '@/data/models/message'

export default {
  props: {
    message: {
      type: Message,
      required: true,
    },
  },
  data: () => ({
    dialog: false,
    evidenceHeaders: [
      { text: 'Type', value: 'confirmationType' },
      { text: 'Date', value: 'received' },
    ],
  }),
}
</script>
