<template>
  <v-dialog v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        :loading="!messages.length"
        :disabled="!messages.length"
        color="primary"
        text
        v-bind="attrs"
        v-on="on"
      >
        <template v-slot:loader>
          <v-progress-circular :size="25" class="mr-2" indeterminate />
          <span>Loading messages...</span>
        </template>
        Link report with CTP message
      </v-btn>
    </template>
    <v-card>
      <v-card-title>Link report with CTP message</v-card-title>
      <v-card-text>
        <v-data-table
          :headers="messageHeaders"
          :items="messages"
          @click:row="selectMessage"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
const messageHeaders = [
  { text: '#', value: 'id' },
  { text: 'From', value: 'fromParty' },
  { text: 'To', value: 'toParty' },
  { text: 'Service', value: 'service' },
  { text: 'Date created', value: 'created' },
]
export default {
  data: () => ({
    dialog: false,
    messageHeaders,
  }),
  computed: {
    Message: (vm) => vm.$store.$db().model('messages'),
    messages: (vm) => vm.Message.all(),
  },
  methods: {
    selectMessage(message) {
      this.$emit('message-linked', message)
      this.dialog = false
    },
  },
}
</script>
