<template>
  <div>
    <v-text-field
      :value="outputDate"
      :label="label"
      hint="ISO format in UTC (e.g. 2000-12-13T13:01:00.000Z)"
      persistent-hint
      required="true"
      prepend-icon="mdi-calendar-month"
      append-outer-icon="mdi-clock-outline"
      @input="updateDateThroughInput"
      @click:prepend="openDateMenu"
      @click:append-outer="openTimeMenu"
    />
    <div :id="`${datePropertyName}-placeholder`" style="position: absolute" />
    <v-menu
      :ref="dateMenuRef"
      v-model="dateMenu"
      internal-activator
      :close-on-content-click="false"
      :return-value.sync="dateProperty"
      transition="scale-transition"
      min-width="290px"
      :attach="`#${datePropertyName}-placeholder`"
    >
      <v-date-picker v-model="pickerDate" no-title scrollable>
        <v-spacer />
        <v-btn text color="primary" @click="closeDateMenu"> Cancel </v-btn>
        <v-btn text color="primary" @click="saveDate"> OK </v-btn>
      </v-date-picker>
    </v-menu>
    <v-menu
      :ref="timeMenuRef"
      v-model="timeMenu"
      internal-activator
      :close-on-content-click="false"
      :return-value.sync="dateProperty"
      transition="scale-transition"
      min-width="290px"
      min-height="290px"
      attach="#datePerformed-placeholder"
    >
      <v-time-picker v-model="pickerTime" format="24hr" scrollable>
        <v-spacer />
        <v-btn text color="primary" @click="closeTimeMenu"> Cancel </v-btn>
        <v-btn text color="primary" @click="saveTime"> OK </v-btn>
      </v-time-picker>
    </v-menu>
  </div>
</template>

<script>
import TestReport from '@/data/models/testReport'
import { dateOrStringToISO } from '@/utils/dateHelper'

export default {
  name: 'DatePickerInput',
  props: {
    report: {
      type: TestReport,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    postfix: {
      type: String,
      required: true,
      validator: (value) => ['performed', 'authored'].includes(value),
    },
  },
  data: () => ({
    dateMenu: false,
    pickerDate: null,
    pickerTime: null,
    timeMenu: false,
  }),
  computed: {
    datePropertyName: (vm) => `date${vm.capitalizedPostfix}`,
    dateMenuRef: (vm) => `${vm.datePropertyName}Menu`,
    timeMenuRef: (vm) => `time${vm.capitalizedPostfix}Menu`,
    outputDate: (vm) => dateOrStringToISO(vm.dateProperty),
    dateProperty: {
      get() {
        return this.report[this.datePropertyName]
      },
      set(newDate) {
        this.report[this.datePropertyName] = newDate
      },
    },
    capitalizedPostfix: (vm) => vm.capitalize(vm.postfix),
  },
  methods: {
    capitalize: (string) => string.charAt(0).toUpperCase() + string.slice(1),
    updateDateThroughInput(dateISOString) {
      this.dateProperty = new Date(dateISOString)
    },
    saveDate() {
      const [year, month, day] = this.pickerDate.split('-')
      const clonedDateTime = this.getClonedDate()
      clonedDateTime.setFullYear(year, month - 1, day)
      this.$refs[this.dateMenuRef].save(clonedDateTime)
    },
    saveTime() {
      const [hours, minutes] = this.pickerTime.split(':')
      const clonedDateTime = this.getClonedDate()
      clonedDateTime.setHours(hours, minutes)
      this.$refs[this.timeMenuRef].save(clonedDateTime)
    },
    /**
     * @returns {Date}
     */
    getClonedDate() {
      const newReportDateTime = this.dateProperty
        ? new Date(+this.dateProperty)
        : new Date()
      newReportDateTime.setSeconds(0, 0)
      return newReportDateTime
    },
    openDateMenu() {
      this.dateMenu = true
    },
    openTimeMenu() {
      this.timeMenu = true
    },
    closeDateMenu() {
      this.dateMenu = false
    },
    closeTimeMenu() {
      this.dateMenu = false
    },
  },
}
</script>
