<template>
  <v-data-table :headers="headers" :items="reports">
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-3"
        title="Get report details"
        @click="viewReportDetails(item)"
      >
        mdi-information-outline
      </v-icon>
      <v-icon small class="mr-3" title="Edit report" @click="editReport(item)">
        mdi-pencil
      </v-icon>
      <v-icon
        small
        class="mr-3"
        title="Delete report"
        @click="deleteReport(item)"
      >
        mdi-delete
      </v-icon>
      <v-icon
        v-if="isAdmin"
        class="mr-3"
        title="Regenerate report pdf file"
        small
        @click="regeneratePdf(item)"
      >
        mdi-file-pdf-outline
      </v-icon>
      <v-icon
        v-if="isAdmin"
        class="mr-3"
        small
        title="Regenerate report xml file"
        @click="regenerateXml(item)"
      >
        mdi-file-code-outline
      </v-icon>
      <v-btn
        v-if="isAdmin"
        icon
        :href="downloadPath(item)"
        x-small
        target="_blank"
        title="Download report pdf"
      >
        <v-icon>mdi-file-download-outline</v-icon>
      </v-btn>
    </template>
    <template v-slot:item.message="{ item }">
      <a @click="getMessageInfos(item.message_id)" v-text="item.message_id" />
    </template>
  </v-data-table>
</template>

<script>
const headers = [
  { text: 'Report ID', value: 'reportId' },
  { text: 'Date Performed', value: 'datePerformed' },
  { text: 'Date Authored', value: 'dateAuthored' },
  { text: 'Result', value: 'result' },
  { text: 'Message', value: 'message' },
  { text: '', value: 'actions', sortable: false },
]

export default {
  props: {
    reports: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    headers,
  }),
  computed: {
    isAdmin: (vm) => vm.$auth.hasScope('ROLE_ADMIN'),
    TestReport: (vm) => vm.$store.$db().model('reports'),
  },
  methods: {
    /** @param {TestReport} report */
    deleteReport(report) {
      const doDelete = async () => {
        try {
          await this.TestReport.deleteById(report.id)
          this.$snack.toggleSuccess('Test report deleted successfully')
        } catch (error) {
          this.$snack.toggleError('Test report deletion failed')
        }
      }

      this.$nuxt.$emit('confirmation-requested', doDelete)
    },
    downloadPath: (report) => `/api/files/reports/${report.id}`,
    /** @param {TestReport} report */
    editReport(report) {
      this.$nuxt.$emit('edit-test-report', report.$id)
    },
    getMessageInfos(messageId) {},
    /** @param {TestReport} report */
    viewReportDetails(report) {
      this.$nuxt.$emit('view-report-details', report.$id)
    },
    regeneratePdf(report) {},
    regenerateXml(report) {},
  },
}
</script>
