<template>
  <v-dialog v-model="dialog" max-width="1000">
    <v-card>
      <v-card-title class="teal darken-2 white--text" v-text="dialogTitle" />
      <v-card-text class="pt-4">
        <v-expansion-panels multiple>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Test Assertion details
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">Detail</th>
                      <th class="text-left">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(detail, index) in details" :key="index">
                      <td v-text="detail.detail" />
                      <td v-text="detail.value" />
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <h3 class="title py-3">Actors</h3>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">Role</th>
                      <th class="text-left">Name</th>
                      <th class="text-left">Contact</th>
                      <th class="text-left">Url</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(actor, index) in report.actors" :key="index">
                      <td v-text="actor.role" />
                      <td v-text="actor.name" />
                      <td v-text="actor.contact" />
                      <td class="word-wrap" v-text="actor.uri" />
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <template v-if="report.warnings">
                <h3 class="title py-3">Warnings</h3>
                <p class="text-justify" v-text="report.warnings" />
              </template>
              <template v-if="report.errors">
                <h3 class="title py-3">Errors</h3>
                <p class="text-justify" v-text="report.errors" />
              </template>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header> XML File </v-expansion-panel-header>
            <v-expansion-panel-content>
              <code-editor v-model="xml" />
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header> PDF File </v-expansion-panel-header>
            <v-expansion-panel-content> </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import TestReport from '@/data/models/testReport'

export default {
  data: () => ({
    dialog: false,
    report: new TestReport(),
    xml: '<xml>Test xml</xml>',
  }),
  computed: {
    details: (vm) => [
      { detail: 'Report ID', value: vm.report.reportId },
      {
        detail: 'User',
        value: `${vm.report.performerName} - ${vm.report.performerEmail}`,
      },
      { detail: 'Date authored', value: vm.report.dateAuthored },
      { detail: 'Date performed', value: vm.report.datePerformed },
      { detail: 'Result', value: vm.report.result },
    ],
    dialogTitle: (vm) => `#${vm.report.$id} Test Report Details`,
  },
  mounted() {
    this.$nuxt.$on('view-report-details', (reportId) => {
      this.report = this.$store.$db().model('reports').find(reportId)
      this.dialog = true
    })
  },
}
</script>

<style scoped>
.word-wrap {
  word-break: break-all;
}
</style>
