<template>
  <v-data-table :items="actions" :headers="headers">
    <template v-slot:item.isReply="{ item }">
      <v-icon small v-text="tickIcon(item.isReply)" />
    </template>
    <template v-slot:item.isOutgoing="{ item }">
      <v-icon small v-text="tickIcon(item.isOutgoing)" />
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editAction(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteAction(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table>
</template>

<script>
const actionHeaders = [
  { text: 'Name', value: 'name' },
  { text: 'Outgoing', value: 'isOutgoing' },
  { text: 'Reply', value: 'isReply' },
  { text: 'Actions', value: 'actions' },
]
export default {
  name: 'ActionTable',
  props: {
    serviceId: {
      type: [String, Number],
      required: true,
    },
    actions: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    headers: actionHeaders,
  }),
  methods: {
    editAction(action) {
      this.$nuxt.$emit('edit-action', { serviceId: this.serviceId, action })
    },
    deleteAction(action) {
      const doDelete = async () => {
        const service = this.$store.$db().model('services').find(this.serviceId)
        try {
          await service.deleteActionById(action._id)
          this.$snack.toggleSuccess('Action deleted successfully')
        } catch (error) {
          this.$snack.toggleError('Action deletion failed')
        }
      }

      this.$nuxt.$emit('confirmation-requested', doDelete)
    },
    tickIcon: (value) => (value ? 'mdi-check' : 'mdi-close'),
  },
}
</script>
