<template>
  <v-dialog v-model="dialog" max-width="500">
    <template #activator="{ on, attrs }">
      <v-btn
        class="mt-7"
        color="primary"
        v-bind="attrs"
        v-on="on"
        @click="startNewService"
      >
        New service
      </v-btn>
    </template>
    <v-card>
      <v-card-title v-text="`${mode} service`" />
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field v-model="service.name" label="Name" />
          </v-col>
          <v-col>
            <v-text-field v-model="service.shortcode" label="Short code" />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field v-model="service.caseOrder" label="Service order" />
          </v-col>
          <v-col>
            <v-checkbox v-model="service.test" label="Test" />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="submitService" v-text="submitButtonLabel" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Service from '@/data/models/service'

export default {
  name: 'CreateServiceDialog',
  data: () => ({
    mode: 'New',
    service: new Service(),
    dialog: false,
  }),
  computed: {
    submitButtonLabel: (vm) => (vm.mode === 'New' ? 'Create' : 'Edit'),
  },
  mounted() {
    this.$nuxt.$on('edit-service', (serviceId) => {
      this.mode = 'Edit'
      this.service = this.$store.$db().model('services').find(serviceId)
      this.dialog = true
    })
  },
  methods: {
    async submitService() {
      if (this.mode === 'New') {
        await this.service.post()
        this.closeSuccessfully('Service added successfully!')
      } else if (this.mode === 'Edit') {
        this.service.update()
        this.closeSuccessfully('Service edited successfully!')
      }
    },
    closeSuccessfully(message) {
      this.dialog = false
      this.$store.dispatch('toggleFeedbackSnack', { message })
    },
    startNewService() {
      this.mode = 'New'
      this.service = new Service()
    },
  },
}
</script>
