<template>
  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title v-text="title" />
      <v-card-text>
        <v-row>
          <v-col> <v-text-field v-model="action.name" label="Name" /> </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-checkbox v-model="action.isOutgoing" label="Outgoing" />
          </v-col>
          <v-col>
            <v-checkbox v-model="action.isReply" label="Reply" />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="action.defaultPdfPath"
              label="Default Pdf Path"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="action.defaultXmlPath"
              label="Default Xml Path"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="action.defaultXsdPath"
              label="Default Xsd Path"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="submitAction" v-text="submitButtonLabel" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Action from '@/data/models/lean/action'

export default {
  name: 'CreateActionDialog',
  data: () => ({
    dialog: false,
    action: new Action(),
    service: null,
    mode: 'New',
  }),
  computed: {
    title: (vm) => (vm.mode === 'New' ? 'Add action' : 'Edit action'),
    submitButtonLabel: (vm) => (vm.mode === 'New' ? 'Create' : 'Edit'),
  },
  mounted() {
    this.$nuxt.$on('add-action', (serviceId) => {
      this.mode = 'New'
      this.service = this.$store.$db().model('services').find(serviceId)
      this.action = new Action()
      this.dialog = true
    })

    this.$nuxt.$on('edit-action', ({ serviceId, action }) => {
      this.mode = 'Edit'
      this.service = this.$store.$db().model('services').find(serviceId)
      this.action = new Action(action)
      this.dialog = true
    })
  },
  methods: {
    async submitAction() {
      if (this.mode === 'New') {
        await this.service.addAction(this.action)
        this.closeSuccessfully('Action added successfully!')
      } else if (this.mode === 'Edit') {
        await this.service.editAction(this.action)
        this.closeSuccessfully('Action edited successfully!')
      }
    },
    closeSuccessfully(message) {
      this.dialog = false
      this.$store.dispatch('toggleFeedbackSnack', { message })
    },
  },
}
</script>
